.background {
    position: absolute;
    z-index: 1;

    width: 100%;
    margin-top: 65px;

    &__make-art {
        top: 95px;
        left: -40px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__no-war {
        top: 95px;
        right: -28px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__ellipse {
        position: absolute;
        top: 194px;
        right: 24.5%;

        width: 25px;
        height: 25px;

        @include media-breakpoint-down(xs) {
            top: 154px;
            right: 9%;
        }
    }

    &__star {
        position: absolute;
        top: 46px;
        left: 27%;

        width: 45px;
        height: 65px;

        @include media-breakpoint-down(lg) {
            top: 116px;
            left: 20%;
        }

        @include media-breakpoint-down(xs) {
            top: 10px;
            right: 0;
            left: unset;
        }
    }

    &__make-art,
    &__no-war {
        font-family: ProximaNova;
        font-size: 79px;
        font-weight: bold;

        position: absolute;

        letter-spacing: 1px;

        opacity: 0.2;
        color: transparent;
        -webkit-text-stroke: 1px $whiteTwo;
    }

    &__blur-first {
        position: absolute;
        z-index: -1;
        top: -60px;
        left: 0;

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    &__blur-second {
        position: absolute;
        z-index: -1;
        top: -60px;
        right: 0;
    }

    &__brilliant-first {
        position: absolute;
        top: 116px;
        left: -10.8%;

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    &__brilliant-second {
        position: absolute;
        z-index: -3;
        top: 36px;
        right: 19.5%;

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    &__brilliant-third {
        position: absolute;
        top: 150px;
        right: -8%;

        @include media-breakpoint-down(xs) {
            top: 74px;
            right: -11%;
        }
    }
}
