.pricing-head {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 74px;
    padding-top: 52px;
    gap: 17px;

    &__title {
        font-family: ProximaNova;
        font-size: clamp(36px, 5vw, 64px);
        font-weight: bold;
        line-height: 65px;

        max-width: 569px;

        text-align: center;

        color: $whiteTwo;

        @include media-breakpoint-down(lg) {
            line-height: calc(40px + (65 - 40) * ((100vw - 375px) / (1440 - 375)));
        }

        @include media-breakpoint-down(xs) {
            max-width: 271px;
            padding-top: 22px;
            padding-left: 2px;

            text-align: left;
        }
    }

    &__subtitle {
        font-family: ProximaNova;
        font-size: clamp(15px, 2.5vw, 16px);
        font-weight: normal;
        line-height: 28px;

        max-width: 400px;

        text-align: center;

        color: $whiteTwo;

        @include media-breakpoint-down(lg) {
            line-height: calc(24px + (28 - 24) * ((100vw - 375px) / (1440 - 375)));
        }

        @include media-breakpoint-down(xs) {
            max-width: 280px;

            text-align: left;
        }
    }

    @include media-breakpoint-down(lg) {
        margin-top: calc(26px + (60 - 26) * ((100vw - 375px) / (1440 - 375)));
        gap: calc(16px + (18 - 16) * ((100vw - 375px) / (1440 - 375)));
    }

    @include media-breakpoint-down(xs) {
        align-items: start;
    }
}

.purchase {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding-top: 78px;
    padding-bottom: 50px;
    gap: 20px;

    @include media-breakpoint-down(xs) {
        padding-top: 14px;
        padding-bottom: 36px;
        gap: 14px;
    }

    &__nav {
        display: grid;
        display: none;
        justify-content: center;

        width: 345px;
        height: 62px;
        padding: 7px 8px;

        border-radius: 12px;
        background: rgb(33, 36, 38);
        grid-template-columns: repeat(3, 1fr);
        --active: 0;

        &:has(.purchase__nav-btn:nth-child(2).active) {
            --active: 1;
        }

        &:has(.purchase__nav-btn:nth-child(3).active) {
            --active: 2;
        }

        @include media-breakpoint-down(md) {
            display: grid;
        }

        @include media-breakpoint-down(xxs) {
            width: 100%;
            max-width: 345px;
        }

        &-btn {
            font-family: ProximaNova;
            font-size: 14px;
            font-weight: normal;
            line-height: 21px;

            position: relative;
            z-index: 5;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 111px;
            height: 48px;

            text-align: center;

            color: rgb(255, 255, 255);
            border-radius: 12px;
            background: none;

            @include media-breakpoint-down(xxs) {
                width: 100%;
                max-width: 111px;
            }

            &:nth-child(1) {
                grid-area: 1/1/2/2;
            }

            &:nth-child(2) {
                grid-area: 1/2/2/3;
            }

            &:nth-child(3) {
                grid-area: 1/3/2/4;
            }

            &.active {
                font-weight: bold;

                color: rgb(29, 31, 33);
                /* background: $rainbowBtnGradient; */
                transition: all 0.5s ease;
            }
        }

        .selector {
            position: relative;

            width: 100%;
            height: 100%;

            pointer-events: none;

            border-radius: 12px;
            grid-area: 1/1/2/2;

            &::before,
            &::after {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                content: '';

                border-radius: inherit;
                background: linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%);
                transition: 0.4s transform cubic-bezier(0.28, 1.33, 0.64, 1);
                transform: translateX(calc(var(--active) * 100%));
            }

            &::before {
                transition-delay: 0.05s;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 31px;

        @include media-breakpoint-down(lg) {
            gap: 20px;
        }
    }

    .card {
        position: relative;

        display: flex;
        flex-direction: column;

        max-width: 350px;
        height: 650px;
        /* padding: 13px 10px 18px 10px; */
        padding: 5px 5px 18px;

        border-radius: 12px;
        background: $backgroundSecond;
        transition: 0.5s ease-in-out;

        &.active {
            display: block;

            max-width: 350px;

            pointer-events: auto;
        }

        @include media-breakpoint-down(lg) {
            max-width: 320px;
            padding: 5px 5px 18px;

            &.active {
                max-width: 320px;
            }
        }

        @include media-breakpoint-down(md) {
            display: none;

            &.active {
                max-width: 345px;
            }
        }

        @include media-breakpoint-down(xxs) {
            &.active {
                max-width: 310px;
            }
        }

        &-wrapper {
            max-width: 340px;
            padding: 8px 30px 0 27px;

            border-radius: 12px;
            background: $backgroundSecond;
            /* padding-left: 17px;  */

            @include media-breakpoint-down(lg) {
                max-width: 320px;
                margin: 0 auto;
                padding: 8px 10px 0 7px;
            }

            @include media-breakpoint-down(md) {
                max-width: 345px;
                padding: 8px 20px 0 17px;
            }

            @include media-breakpoint-down(xxs) {
                padding: 8px 5px 0 7px;
            }

            &__time {
                font-family: ProximaNova;
                font-size: 80px;
                font-weight: bold;
                line-height: 97px;

                text-align: center;
                letter-spacing: 0%;

                opacity: 0.2;
                color: $backgroundSecond;
                -webkit-text-stroke: 1px $whiteTwo;
                /*
                 padding-right: 30px;

                 @include media-breakpoint-down(lg) {
                     padding-right: 5px;
                 }
                 */
            }

            &__blur {
                position: absolute;
                top: 0;
                left: 0;
            }

            &__item {
                position: absolute;
                top: 44px;
                left: 44px;
            }

            &__access {
                position: relative;

                width: 100%;
                max-width: 275px;
                margin: 44px 0 28px auto;
                padding: 14px 0 11px 25px;

                border-radius: 8px 0 0 8px;
                background: $rainbowBtnGradient;
                transform: translateX(35px);

                @include media-breakpoint-down(lg) {
                    transform: translateX(15px);
                }

                @include media-breakpoint-down(md) {
                    max-width: 270px;

                    transform: translateX(25px);
                }

                @include media-breakpoint-down(xxs) {
                    transform: translateX(10px);
                }

                &-title {
                    font-family: ProximaNova;
                    font-size: 26px;
                    font-weight: bold;
                    line-height: 33.5px;

                    text-align: left;
                    letter-spacing: 0%;

                    color: rgb(29, 31, 33);
                }

                &-subtitle {
                    font-family: ProximaNova;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 21px;

                    letter-spacing: 0%;

                    opacity: 0.7;
                    color: rgb(29, 31, 33);
                    transform: translateY(-5px);
                }
            }

            &__column {
                display: flex;
                flex-direction: column;
                justify-content: center;
                /* padding-right: 50px; */
                padding-right: 0;

                transform: translateY(-2px) translateX(-5px);

                @include media-breakpoint-down(lg) {
                    padding-right: 5px;
                    padding-left: 10px;
                }

                &-item {
                    position: relative;

                    display: flex;
                    align-items: center;
                    gap: 16px;

                    padding-bottom: 20px;

                    &-svg {
                        min-width: 24px;
                        max-width: 24px;
                        min-height: 24px;
                        max-height: 24px;
                    }

                    &-text {
                        font-family: ProximaNova;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 21px;

                        padding-right: 5px;

                        text-align: left;
                        letter-spacing: 0%;

                        color: rgb(200, 210, 220);
                    }
                }

                &-item:not(:last-child)::after {
                    position: absolute;
                    top: 86%;
                    left: 0;

                    display: flex;
                    /* width: 108%;  */
                    width: 100%;
                    height: 1px;

                    content: '';

                    background: rgb(82, 89, 96);

                    @include media-breakpoint-down(md) {
                        top: 87%;

                        width: 104%;
                    }
                }
            }
        }

        &__price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 23px 30px 0 27px;
            /* padding-right: 35px; */
            padding-right: 0;

            @include media-breakpoint-down(lg) {
                padding-right: 10px;
                padding-left: 10px;
            }

            @include media-breakpoint-down(md) {
                padding: 23px 27px 0 25px;
            }

            &-btn {
                position: relative;

                overflow: hidden;

                padding: 14px 50px;

                border-radius: 12px;
                background: $rainbowBtnGradient;
                transform: translateX(-5px);

                span {
                    /* color: rgb(29, 31, 33); */
                    font-family: ProximaNova;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 26.5px;

                    text-align: left;
                    letter-spacing: 0%;
                }

                &::before {
                    position: absolute;
                    top: 0;
                    left: -95px;

                    width: 50px;
                    height: 100px;

                    content: '';

                    background: linear-gradient(90deg, rgb(255 255 255 / 10%), rgb(255 255 255 / 50%));
                    transform: skewX(-45deg);
                }

                &:hover {
                    &::before {
                        left: 130%;

                        transition: left 0.5s ease-in-out;

                        @include media-breakpoint-down(sm) {
                            display: none;
                        }
                    }
                }
            }

            &-value {
                font-family: ProximaNova;
                font-size: 22px;
                font-weight: bold;
                line-height: 33.5px;

                text-align: left;
                letter-spacing: 0%;

                color: rgb(252, 255, 255);
            }
        }

        &:hover {
            width: 100%;
            max-width: 350px;
            margin-top: 0;
            padding-top: 5px;

            border-radius: 12px;
            background: $rainbowBtnGradient;
            transition: 0.3s ease-in-out;
            transition: 0.5s ease-in-out;
            transform: translateY(-40px);

            .card__price-btn {
                /* background: $darkerGradientBtn; */
                background: rgb(29, 31, 33);

                span {
                    -webkit-text-fill-color: transparent;

                    background: var(--primary, linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%));
                    background-clip: text;
                }
            }

            .card-wrapper__access {
                &-title {
                    color: rgb(252, 255, 255);
                }

                &-subtitle {
                    color: rgb(252, 255, 255);
                }
            }

            @include media-breakpoint-down(lg) {
                width: 100%;
                max-width: 320px;
            }

            @include media-breakpoint-down(md) {
                max-width: 320px;
                height: 650px;
                margin-bottom: 0;

                border-radius: 12px;
                background: $backgroundSecond;
                /* padding: 13px 0px 18px 5px; */
                transform: translateY(0);

                .card__price-btn {
                    background: $rainbowBtnGradient;

                    span {
                        -webkit-text-fill-color: transparent;

                        background: rgb(29, 31, 33);
                        background-clip: text;
                    }
                }

                .card-wrapper__access {
                    &-title {
                        color: rgb(29, 31, 33);
                    }

                    &-subtitle {
                        color: rgb(29, 31, 33);
                    }
                }
            }
        }
    }
}
