.background {
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: 65px;

    @media (max-width:1100px) {
        display: block;
    }

    &__blur {
        position: absolute;
        left: 0;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}