.background {
    position: absolute;
    z-index: 1;
    margin-top: 65px;
    width: 100%;

    &__blur {
        position: absolute;
        left: 0;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}
