@import '../config/_media-breakpoints';
@import '../config/vars';

.biography {

    &__content {
        display: grid;
        grid-template-columns: minmax(208px, 500px) auto;
        padding-top: 2px;
        padding-bottom: 80px;

        @include media-breakpoint-down(md) {
            grid-template-columns: minmax(345px, 1fr);
            justify-content: center;
            align-items: center;
            justify-items: center;
            gap: 32px;
        }
        
        @include media-breakpoint-down(xs) {
            padding-bottom: 0px;   
        }

        &::nth-child(1) {
            @include media-breakpoint-down(xs) {
                justify-items: start;
            }
        }
    }

    &__text {
        &-subtitle {
            font-family: "ProximaNova";
            font-size: clamp(14px, 2.5vw, 18px);
            font-weight: 700;
            line-height: 26.5px;
            letter-spacing: 1.8px;
            background: $rainbowBtnGradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-left: 56px;
            padding-top: 44px;
            max-width: 210px;
    
            @include media-breakpoint-down(md) {
                padding-left: 0px;
            }

            @include media-breakpoint-down(xs) {
                padding-top: 38px;  
                letter-spacing: 1.4px;    
            }
        }
    
        &-title {
            color: $whiteTwo;
            font-family: "ProximaNova";
            font-size: clamp(26px, 2.5vw, 36px);
            font-weight: 700;
            line-height: 34px;
            padding-top: 10px;
            padding-left: 56px;
    
            @include media-breakpoint-down(md) {
                padding-left: 0px;
            }

            @include media-breakpoint-down(xs) {
                padding-top: 0px;     
            }
        }
    }

    &__wrapper {
        width: 100%;
        // max-width: 44.5%;
        margin-right: 15px;
        grid-row: 1 / 4;
        // grid-area: img;

        @include media-breakpoint-down(md) {
            // margin-right: 0px;
            max-width: 100%;
            display: flex;
            justify-content: center;
            // order: 2;
            margin-left: auto;
            margin-right: auto;
            // margin-left: 13%;
            grid-row: 2;
            height: 100%;
            width: 100%;
        }

        @include media-breakpoint-down(xs) {
            transform: scale(0.8) translateY(-64px) translateX(-37px);   
        }
    }

    &__image {
        // margin-left: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 488px;
        aspect-ratio: 1 / 1.2;
        // width: 488.414px;
        // height: 589.669px;
        // transform: rotate(-3.862deg);
        border-radius: 24px;
        position: relative;

        @include media-breakpoint-down(md) {
            height: 100%;
            width: 100%;
        }

        &-img {
            position: absolute;
            top: 5%;
            left: 9%;
            z-index: 2;
            width: 100%;
            height: 100%;
            max-width: 444px;
            max-height: 570px;

            @include media-breakpoint-down(md) {
                height: 100%;
                width: 100%;
            }

            @include media-breakpoint-down(lg) {
                left: 10px;
            }

            @include media-breakpoint-down(xs) {
                left: 55px;
                width: 90%;
                height: 98%;
                transform: rotate(3deg);
            }
            
        }

        &-bg {
            position: absolute;
            top: 0;
            right: -0%;
            z-index: 1;
            width: 100%;
            height: 106%;
            max-width: 480px;
            max-height: 650px;

            @include media-breakpoint-down(md) {
                height: 100%;
                width: 100%;
            }

            @include media-breakpoint-down(xs) {
                height: 105%;
                width: 100%;
            }
        }
    }

    &__paragraph {
        max-width: 550px;
        color: $whiteTwo;
        font-family: "ProximaNova";
        font-size: clamp(15px, 2.5vw, 16px);
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 20px;
        transform: translateX(56px);
        padding-top: 13px;

        @include media-breakpoint-down(md) {
            padding-right: 0px;
            transform: translateX(0px);
        }

        @include media-breakpoint-down(xs) {
            transform: translateX(0px) translateY(-72px);
            line-height: 24px
        }
    }

    .columns-swiper {
        transform: translateY(9px);
        width: 100%;
        max-width: 100%;
        overflow: visible;
        padding-left: 35px;

        @include media-breakpoint-down(md) {
            padding-left: 0px;
        }

        @include media-breakpoint-down(xs) {
            transform: translateX(-5px) translateY(-68px);
            line-height: 24px
        }

        .columns-wrapper {
            // width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: center;
            gap: 5px;

            @include media-breakpoint-down(xs) {
                justify-content: start;
                gap: 17px;
            }

            .columns-slide {
                display: flex;
                flex-direction: column;
                max-width: 185px;

                @include media-breakpoint-down(md) {
                    padding: 0 5px;
                }

                @include media-breakpoint-down(xs) {
                    max-width: 131px;

                    &:nth-child(1) {
                        margin-right: 7px;
                    }
                    &:nth-child(2) {
                        margin-right: 8px;
                    }
    
                    &:nth-child(3) {
                        margin-right: 40px;
                    }
                }

                &__year {
                    padding: 7px 13px;
                    color: $greenColor;
                    font-family: "ProximaNova";
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    position: relative;
                    width: 60px;
                }

                &__year::after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0;
                    width: 100%;
                    height: 32px;
                    border-radius: 10px;
                    background: $greenBg;
                }

                &__paragraph {
                    padding-top: 10px;
                    max-width: 160px;
                    color: $whiteTwo;
                    font-family: "ProximaNova";
                    font-size: clamp(14px, 2.5vw, 16px);
                    font-weight: 600;
                    line-height: 28px;

                    @include media-breakpoint-down(xs) {
                        line-height: 24px;
                        width: 135px;
                    }
                }
               
            }
        }
    }
}