.contact {
    position: relative;

    &-background {
        position: absolute;
        width: 100%;
        z-index: -1;

        &__sapphire-first {
            position: absolute;
            top: 268px;
            left: -27.5%;
            max-width: 100%;
            vertical-align: top;
            overflow: clip;
            z-index: -1;

            @include media-breakpoint-down(xs) {
                left: unset;
                right: 10%;
                top: -20px;
            }
        }

        &__sapphire-second {
            position: absolute;
            top: 184px;
            left: 0%;
            max-width: 100%;
            vertical-align: top;
            overflow: clip;
            z-index: -1;

            @include media-breakpoint-down(xs) {
                left: unset;
                right: -6.5%;
                top: -38px;
            }
        }

        &__sapphire-third {
            position: absolute;
            top: 590px;
            left: 6%;
            max-width: 100%;
            vertical-align: top;
            overflow: clip;
            z-index: -1;

            @include media-breakpoint-down(xs) {
                display: none;
            }
        }

        &__cube {
            position: absolute;
            top: 94px;
            right: -35%;
            max-width: 100%;
            vertical-align: top;
            overflow: clip;
            z-index: -1;

            @include media-breakpoint-down(xs) {
                display: none;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 63px;
        padding-bottom: 92px;

        @include media-breakpoint-down(xs) {
            padding-top: 0px;
            padding-bottom: 42px;
            align-items: start;
            transform: translateY(-3px);
        }
    }

    &__subtitle {
        font-family: "ProximaNova";
        font-size: clamp(14px, 2.5vw, 18px);
        font-weight: 700;
        line-height: 26.5px;
        letter-spacing: 1.8px;
        background: $rainbowBtnGradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-down(xs) {
            letter-spacing: 1.4px;
        }
    }

    &__title {
        color: $whiteTwo;
        text-align: center;
        font-family: "ProximaNova";
        font-size: clamp(26px, 2.5vw, 36px);
        font-weight: 700;
        line-height: 49.5px;
        max-width: 540px;
        padding-bottom: 22px;

        @include media-breakpoint-down(xs) {
            line-height: 34px;
            text-align: left;
            max-width: 306px;
            padding-bottom: 0px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-breakpoint-down(xs) {
            max-width: 100%;
            width: 100%;
        }

        &__item {
            display: flex;
            flex-direction: column;
            padding-top: 15px;
            gap: 7px;
            position: relative;

            .just-validate-error-label {
                position: absolute;
                top: 10px;
                right: 50%;
                transform: translateX(50%);
                padding: 8px;
                font-size: 14px;
                font-weight: 700;
                border-radius: 7px;
                text-wrap: nowrap;
                background: $rainbowBtnGradient;
                z-index: 3;

                &::after {
                    content: '';
                    position: absolute;
                    top: 28px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $rainbowBtnGradient;
                    height: 10px;
                    width: 10px;
                    clip-path: polygon(0 0, 53% 100%, 100% 0);
                    z-index: 3;

                }
            }

            &-label {
                color: $gray6Color;
                font-family: "ProximaNova";
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
            }

            &-input {
                max-width: 410px;
                display: flex;
                height: 64px;
                padding: 21px 32px 22px;
                align-items: center;
                border-radius: 9px;
                background: $backgroundSecond;

                color: $gray6Color;
                font-family: "ProximaNova";
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;

                @include media-breakpoint-down(xs) {
                    max-width: none;
                }
            }

            &-textarea {
                max-width: 410px;
                display: flex;
                height: 182px;
                padding: 21px 32px 22px;
                align-items: center;
                border-radius: 9px;
                background: $backgroundSecond;
                resize: none;

                color: $gray6Color;
                font-family: "ProximaNova";
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;

                @include media-breakpoint-down(xs) {
                    max-width: none;
                }
            }
        }

        &__send-btn {
            margin-top: 15px;
            width: 410px;
            padding: 18px 0px 19px 0px;

            @include media-breakpoint-down(xs) {
                width: 100%;
            }


            p {
                color: $background;
                font-family: "ProximaNova";
                font-size: 18px;
                font-weight: 700;
                line-height: 26.5px;
            }
        }

        &__agree {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-top: 18px;
            gap: 10px;
            position: relative;

            @include media-breakpoint-down(xs) {
                padding-top: 15px;
            }

            &-checkbox {
                position: absolute;
                width: 1px;
                height: 1px;
                overflow: hidden;
                clip: rect(0 0 0 0);
                padding-left: 20px;
                // transform: translateY(5px) translateX(-6px);
            }

            &-checkstyle {
                position: absolute;
                top: 0;
                left: 0%;
                width: 20px;
                height: 20px;
                border-radius: 7px;
                border: 1px solid var(--stroke, #525960);

            }

            &-checkbox:checked + .form__agree-checkstyle::before {
                content: '';
                width: 14px;
                height: 14px;
                background: $rainbowBtnGradient;
                position: absolute;
                border-radius: 5px;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }

            &-label {
                cursor: pointer;
                color: $gray6Color;
                font-family: "ProximaNova";
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                padding-left: 30px;
                transform: translateY(1px);

                a {
                    padding: 0 8px;
                    color: var(--color-3, #86A8FF);
                    font-size: 14px;
                    font-weight: 600;
                    text-decoration-line: underline;
                }
            }

            .just-validate-error-label {
                position: absolute;
                bottom: -40px;
                left: 0;
                padding: 8px;
                font-size: 14px;
                font-weight: 700;
                border-radius: 7px;
                text-wrap: nowrap;
                background: $rainbowBtnGradient;
                z-index: 3;

                &::after {
                    content: '';
                    position: absolute;
                    top: -9px;
                    left: 4%;
                    background: rgb(104, 201, 255);
                    height: 10px;
                    width: 10px;
                    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                    z-index: 3;

                }
            }
        }
    }
}