.make {
    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 144px;
        padding-bottom: 88px;

        @include media-breakpoint-down(md){
            flex-direction: column;
            justify-content: center;
            gap: 32px;
        }

        @include media-breakpoint-down(xs){
            padding-top: 126px;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        padding: 60px 0 0 12px;
        z-index: 2;
        max-width: 39.65%;

        @include media-breakpoint-down(md){
            padding: 0;
            justify-content: center;
            align-items: center;
            max-width: 100%;
        }

        @include media-breakpoint-down(xs){
            justify-content: start;
            align-items: start;
        }

        &-title {
            padding: 24px 0 0 2px;
            color: $whiteTwo;
            font-family: 'ProximaNova';
            // font-size: clamp(36px, 2.5vw, 64px);
            font-size: 64px;
            font-weight: 700;
            line-height: 65px;
            width: 475px;

            @include media-breakpoint-down(md){
                text-align: center;
                max-width: 475px;
                width: 100%;
            }

            @include media-breakpoint-down(xs){
                padding: 0;
                font-size: 36px;
                max-width: 271px;
                text-align: left;
                line-height: 40px
            }
        }

        &-text {
            color: $whiteTwo;
            font-family: 'ProximaNova';
            font-size: clamp(15px, 2.5vw, 16px);
            font-weight: 400;
            line-height: 28px;
            padding: 14px 0 0 3px;
            max-width: 271px;

            @include media-breakpoint-down(md){
                text-align: center;
            }

            @include media-breakpoint-down(xs){
                text-align: left;
                line-height: 24px;
                padding: 8px 0 0 0;
            }
        }
    }

    .social {
        display: flex;
        gap: 18px;

        @include media-breakpoint-down(xs){
            display: none;
        }

        &__link {
            &-svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .btns {
        display: flex;
        gap: 12px;
        padding: 40px 0 0 2px;

        @include media-breakpoint-down(xs){
            padding: 22px 0 0 0px;
        }

        &__premium {
            // сделать компонент как кнопку
            &-btn {
                max-width: 209px;
                min-width: 170px;
                max-height: 64px;
                min-height: 52px;
                display: flex;
                padding: 18px 22px 19px 22px;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;
                border-radius: 16px;
                background: $rainbowBtnGradient;

                @include media-breakpoint-down(xs){
                    width: 170px;
                    height: 52px;
                }

                &-svg {
                    max-width: 24px;
                    max-height: 24px;
                    min-width: 18px;
                    min-height: 18px;
                }

                span {
                    padding-left: 8px;
                    color: $background;
                    font-family: 'ProximaNova';
                    font-size: clamp(15px, 2.5vw, 18px);
                    font-weight: 700;
                    line-height: 26.5px;
                    text-wrap: nowrap;
                }

                &:hover {
                    &::before {
                        left: 130%;
                        transition: .5s ease-in-out;

                        @include media-breakpoint-down(sm){
                            display: none;
                        }
                    }
                }

                &::before {
                    content: "";
                    background: $hoverBtn;
                    height: 64px;
                    width: 50px;
                    position: absolute;
                    top: 0px;
                    left: -95px;
                    transform: skewX(-45deg);
                    @include media-breakpoint-down(xs){
                        height: 52px;
                    }
                }
            }
        }

        &__discover {
            &-btn {
                max-width: 145px;
                min-width: 117px;
                max-height: 64px;
                min-height: 52px;
                display: flex;
                padding: 18px 36px 19px 37px;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;
                border-radius: 16px;
                background: $darkerGradientBtn;

                @include media-breakpoint-down(xs){
                    width: 117px;
                    height: 52px;
                }

                span {
                    font-family: 'ProximaNova';
                    font-size: clamp(15px, 2.5vw, 18px);
                    font-weight: 700;
                    line-height: 26.5px;
                    background: $rainbowBtnGradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &:hover {
                    &::before {
                        left: 130%;
                        transition: .5s ease-in-out;

                        @include media-breakpoint-down(sm){
                            display: none;
                        }
                    }
                }

                &::before {
                    content: "";
                    background: $hoverBtn;
                    height: 64px;
                    width: 50px;
                    position: absolute;
                    top: 0px;
                    left: -95px;
                    transform: skewX(-45deg);
                    
                    @include media-breakpoint-down(xxs){
                        height: 52px;
                    }
                }
            }
        }
    }

    &__wrapper {
        width: 100%;
        max-width: 60.35%;

        @include media-breakpoint-down(md){
            max-width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__right {
        transform: translateX(-17px);
        display: flex;
        align-items: center;
        max-width: 688px;
        aspect-ratio: 1 / 0.92;

        @include media-breakpoint-down(md){
            justify-content: center;
        }

        @include media-breakpoint-down(sm){
            display: block;
            min-width: 90%;
            min-height: 100%;
            transform: translateX(0px);
        }

        @include media-breakpoint-down(xs){
            aspect-ratio: 1 / 0.82;
            transform: scale(1.35) translateX(8%) translateY(4%);
        }

        &-img {
            width: 100%;
            height: 100%;

            @include media-breakpoint-down(sm){
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                padding: 0 15px;
            }
        }
    }
}