.premium {
    &__content {
        padding-top: 16px;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-down(md) {
            padding-top: 0px;
            transform: translateY(-38px);
        }
    }

    &__banner {
        position: relative;
        overflow: hidden;
        max-width: 1140px;
        width: 100%;
        height: 446px;
        border-radius: 24px;
        padding: 83px 110px;
        margin-bottom: 11px;
        background: var(--additional, linear-gradient(95deg, #6880FF 9.27%, #3CA7F4 50.77%, #8C45FF 84.06%));

        @include media-breakpoint-down(md) {
            height: 550px;
            padding: 32px 26px;
        }

        @include media-breakpoint-down(xs) {
            height: 514px;
            padding: 32px 26px;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 12px;

            @include media-breakpoint-down(md) {
                align-items: center;
            }

            @include media-breakpoint-down(xs) {
                align-items: start;
                gap: 0px;
            }

            svg {
                width: 45px;
                height: 45px;
                color: $whiteTwo;

                @include media-breakpoint-down(xs) {
                    width: 24px;
                    height: 24px;
                }
            }

            &__title {
                color: $whiteTwo;
                font-family: "ProximaNova";
                font-size: clamp(26px, 2.5vw, 36px);
                font-weight: 700;
                line-height: 49.5px;

                @include media-breakpoint-down(xs) {
                    line-height: 34px;
                    padding-top: 4px;
                }
            }

            &__paragraph {
                color: $whiteTwo;
                font-family: "ProximaNova";
                font-size: clamp(15px, 2.5vw, 16px);
                font-weight: 400;
                line-height: 28px;
                max-width: 440px;

                @include media-breakpoint-down(xs) {
                    line-height: 24px;
                    padding-top: 8px;
                }
            }
        }

        &-ruby {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;

            @include media-breakpoint-down(md) {
                bottom: 0;
                right: 0;

            }

            &-img {
                width: 100%;
            }
        }

        &-emerald {
            position: absolute;
            top: 19.5%;
            right: 82px;
            z-index: 1;

            @include media-breakpoint-down(md) {
                top: unset;
                bottom: 10%;
                right: 50%;
                transform: translateX(50%);
            }

            @include media-breakpoint-down(xs) {
                bottom: 15%;
                transform: translateX(50%) scale(1.2);
            }

            &-img {
                width: 100%;
            }
        }

        &-sapphire {
            position: absolute;
            top: 0;
            right: 250px;
            z-index: 1;

            @include media-breakpoint-down(md) {
                top: unset;
                bottom: 0;
                right: unset;
                left: 0;
            }

            &-img {
                width: 100%;
            }
        }

        &-circle {
            position: absolute;
            top: -20px;
            right: -165px;
            z-index: 0;

            @include media-breakpoint-down(md) {
                width: 100%;
                height: 100%;
                top: 76%;
                right: 50%;
                transform: translateX(50%);
            }

            @include media-breakpoint-down(xs) {
                transform: translateX(50%) scale(1.2);
            }

            &-img {
                width: 100%;
            }
        }
    }

    /////////////////////

    &-swiper {
        width: 100%;
        max-width: 100%;
        overflow: visible;
    }

    &-wrapper {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    &-slide {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        background: $backgroundSecond;
        width: 350px;
        height: 600px;

        &__nft {
            font-family: "ProximaNova";
            font-size: clamp(14px, 2.5vw, 18px);
            font-weight: 700;
            line-height: 26.5px;
            letter-spacing: 1.8px;
            background: $rainbowBtnGradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__item {

            // width: 354px;
            // height: 334px;
            height: 350px;
            padding: 40px 53px 70px;

            &-img {
                aspect-ratio: 1/1;
                max-width: 264px;
                height: 100%;
                border-radius: 50%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }

        &__title {
            color: $whiteTwo;
            font-family: "ProximaNova";
            font-size: clamp(18px, 2.5vw, 20px);
            font-weight: 700;
            line-height: 30px;
        }

        &__paragraph {
            color: $gray6Color;
            font-family: "ProximaNova";
            font-size: clamp(12px, 2.5vw, 14px);
            font-weight: 400;
            line-height: 21px;
        }

        &__price {
            display: flex;

            &-value {
                color: $whiteTwo;
                font-family: "ProximaNova";
                font-size: clamp(22px, 2.5vw, 26px);
                font-weight: 700;
                line-height: 33.5px;
            }

            &-btn {
                display: inline-flex;
                padding: 14px 30px;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                background: $rainbowBtnGradient;

                span {
                    color: $background;
                    font-family: "Proxima Nova";
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                }
            }
        }
    }
}