.auction {
  padding: 0 0 0 15px;

  @include media-breakpoint-down(md) {
    padding: 0;
  }

  &-content {
    display: flex;
    gap: 32px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
    }

    @include media-breakpoint-down(xs) {
      gap: 16px;
    }
  }

  &__image {
    max-width: 52%;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    &-img {
      width: 100%;
      height: 100%;
      max-width: 538px;
      max-height: 538px;
    }
  }

  &__info {
    max-width: 48%;
    padding-top: 8px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 5px;
      align-items: start;
    }

    &-subtitle {
      background: $rainbowBtnGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-family: 'ProximaNova';
      font-size: clamp(14px, 2.5vw, 18px);
      max-width: 91px;
      font-weight: 700;
      line-height: 26.5px;
      letter-spacing: 1.8px;

      @include media-breakpoint-down(xs) {
        letter-spacing: 1.4px;
      }
    }

    &-title {
      color: $whiteTwo;
      font-family: 'ProximaNova';
      font-size: clamp(26px, 2.5vw, 36px);
      font-weight: 700;
      line-height: 49.5px;

      @include media-breakpoint-down(xs) {
        transform: translateY(-7px);
      }
    }

    .columns {
      display: flex;
      gap: 48px;
      padding-top: 26px;

      @include media-breakpoint-down(xs) {
        padding-top: 0;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        transform: translateY(-7px);
      }

      &__item {
        position: relative;
        min-width: 101px;
        max-width: 180px;

        @include media-breakpoint-down(xs) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: unset;
          width: 100%;
        }

        &-text {
          color: $whiteTwo;
          font-family: 'ProximaNova';
          font-size: clamp(15px, 2.5vw, 16px);
          font-weight: 400;
          line-height: 28px;

          @include media-breakpoint-down(sm) {
            .br-desctop {
              display: none;
            }
          }
        }

        &-value {
          color: $whiteTwo;
          font-family: 'ProximaNova';
          font-size: clamp(18px, 2.5vw, 22px);
          font-weight: 700;
          line-height: 33.5px;
        }
      }

      &__item:nth-child(2) {
        min-width: 115px;

        @include media-breakpoint-down(xs) {
          min-width: unset;
        }
      }

      &__item:last-child {
        transform: translateX(-4px);

        @include media-breakpoint-down(xs) {
          transform: translateX(0px) translateY(-6px);
        }
      }

      &__item:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 0;
        right: -25px;
        width: 1px;
        height: 95%;
        background: $gray7Color;

        @include media-breakpoint-down(xs) {
          max-width: 431px;
          top: 42px;
          right: unset;
          left: 0;
          width: 100%;
          height: 1px;
        }
      }

      &__item:nth-child(2)::after {
        transform: translateX(-4px);

        @include media-breakpoint-down(xs) {
          transform: translateX(0px);
        }
      }
    }

    .bargain {
      margin-top: 47px;
      padding: 22px 43px;
      border-radius: 12px;
      max-width: 540px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      background: $backgroundSecond;

      @include media-breakpoint-down(md) {
        max-width: unset;
      }

      @include media-breakpoint-down(xs) {
        margin-top: 17px;
        padding: 28px 16px 20px 16px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        height: 16px;
        width: 75%;
        border-radius: 0px 0px 8px 8px;
        background: $rainbowSecondGradient;

        @include media-breakpoint-down(xs) {
          height: 10px;
        }
      }

      &__title {
        background: $rainbowSecondGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-family: 'ProximaNova';
        font-size: 14px;
        max-width: 106px;
        font-weight: 700;
        line-height: 26.5px;
        letter-spacing: 1.5px;
      }

      &__value {
        color: $whiteTwo;
        font-family: 'ProximaNova';
        font-size: 26px;
        font-weight: 700;
        line-height: 33.5px;
        transform: translateY(-4px);
      }

      &__form {
        display: flex;
        flex-direction: column;
        padding-top: 2px;

        @include media-breakpoint-down(md) {
          max-width: 100%;
        }

        @include media-breakpoint-down(xs) {
          padding-top: 12px;
        }

        &-label {
          color: $grayLabel;
          font-family: 'ProximaNova';
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
        }

        &-wrapper {
          display: flex;
          gap: 12px;
          padding-top: 6px;
          position: relative;

          @include media-breakpoint-down(xs) {
            flex-direction: column;
          }

          .just-validate-error-label {
            top: -30px;
          }
        }

        &-input {
          border-radius: 9px;
          background: $gray8Color;
          padding: 22px 32px;
          min-width: 266px;
          height: 64px;
          color: $grayLabel;
          font-family: 'ProximaNova';
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;

          @include media-breakpoint-down(xs) {
            min-width: unset;
          }
        }

        &-btn {
          padding: 18px 51px;
          border-radius: 12px;
          height: 64px;

          @include media-breakpoint-down(xs) {
            height: 50px;
          }

          span {
            color: $background;
            font-family: 'ProximaNova';
            font-size: 18px;
            font-weight: 700;
            line-height: 26.5px;
            text-wrap: nowrap;
          }
        }
      }

      &__date {
        padding-top: 19px;

        &-timer {
          display: flex;
          gap: 5px;
          background: $rainbowSecondGradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          font-family: 'ProximaNova';
          font-size: clamp(18px, 2.5vw, 22px);
          font-weight: 700;
          line-height: 33.5px;
          letter-spacing: 1.4px;

          @include media-breakpoint-down(xs) {
            letter-spacing: 1px;
          }
        }
        &-deadline {
          color: $grayLabel;
          font-family: 'ProximaNova';
          font-size: 14px;
          font-weight: 600;
          line-height: 24px;
          text-align: center;
          transform: translateY(-5px);
        }
      }

      &__description {
        padding-top: 7px;
        color: $grayLabel;
        font-family: 'ProximaNova';
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        max-width: 345px;
        position: relative;

        @include media-breakpoint-down(xs) {
          padding-top: 25px;

          &::after {
            content: '';
            position: absolute;
            top: 9px;
            left: 0;
            width: 100%;
            height: 1px;
            background: $gray7Color;
          }
        }
      }
    }
  }
}
