.background {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 65px;

  &__ellipse {
    position: absolute;
    top: 582px;
    left: 9.3%;
    width: 15px;
    height: 15px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__star-first {
    position: absolute;
    top: 50px;
    left: 7.2%;
    width: 46px;
    height: 62px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__star-second {
    position: absolute;
    top: 48px;
    right: 16.3%;
    width: 24px;
    height: 33px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__blur-first {
    position: absolute;
    z-index: -1;
    top: -60px;
    left: 0;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__blur-second {
    position: absolute;
    z-index: -1;
    top: -60px;
    right: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
