@import '../config/_media-breakpoints';
@import '../config/vars';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $background;
    height: 64px;
    z-index: 12;

    &__container {
        display: flex;
        max-width: $maxWidthContainer;
        padding: 0 15px;
        height: 64px;
        margin: 0 auto;
        // position: fixed;
        justify-content: start;
        align-items: center;
        z-index: 12;


        @media (max-width: 1100px) {
            justify-content: space-between;
        }
    }

    &__logo {
        &-svg {
            width: 161px;
            height: 46px;
        }
    }

    .menu {
        margin-left: 14px;
        flex: 1;

        @media (max-width: 1100px) {
            position: fixed;
            top: 64px;
            right: -100%;
            width: 39%;
            height: 100%;
            background: $background;
            background-size: cover;
            padding: 100px 100px 180px 50px;
            transition: right 0.3s ease 0s;
            overflow: auto;
            display: flex;
            flex-direction: column;
            z-index: 12;
            align-items: start;
        }

        @include media-breakpoint-down(sm) {
            width: 50%;
        }

        @include media-breakpoint-down(xs) {
            width: 100%;
        }

        @include media-breakpoint-down(xxs) {
            align-items: center;
            padding: 100px 100px 100px 100px;
        }

        &__list {
            display: inline-flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 0px;

            @media (max-width: 1100px) {
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            @include media-breakpoint-down(xxs) {
                align-items: center;
            }
        }

        &__item {
            a {
                position: relative;
                color: $gray6Color;
                font-family: 'Manrope';
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                padding: 8px 12px;
                text-wrap: nowrap;

                &:hover {
                    background: $rainbowBtnGradient;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 0.5s ease-in-out;
                }

                &::before {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    content: '';
                    width: 100%;
                    height: 35px;
                    opacity: 0;
                    border-radius: 8px;
                    background: $darkerGradientBtn;
                }

                &:hover::before {
                    opacity: 1;
                    transition: all 0.5s;
                }
            }

            @media (max-width: 1100px) {
                padding: 13px 20px;

                a {
                    font-size: 16px;
                }
            }

            &-lock {
                &-svg {
                    transform: translateY(2px);
                    max-width: 14px;
                    max-height: 14px;
                    margin-right: 4px;
                }
            }
        }

        &__buttons {
            display: none;

            @media (max-width: 1100px) {
                display: flex;
                flex-direction: column-reverse;
                align-items: start;
                padding: 13px 30px;
                gap: 13px;

                .authorization {
                    max-width: 130px;
                    max-height: 48px;
                }
            }

            @include media-breakpoint-down(xxs) {
                align-items: center;
            }
        }

    }

    @media (max-width: 1100px) {
        .header__menu_active {
            right: 0;
            transition: right 0.3s ease 0s;
        }
    }

    .select {
        &__btn {
            width: 74px;
            height: 35px;
            padding: 8px 12px;

            color: $gray6Color;
            font-family: 'Manrope';
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;

            display: flex;
            gap: 4px;

            &_after {
                width: 18px;
                height: 18px;
            }
        }

        &__list {
            max-height: 110px;

            color: $gray6Color;
            font-family: 'Manrope';
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;

            &-item {
                padding: 8px 12px;
            }
        }
    }

    &__btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @media (max-width: 1100px) {
            .select__content {
                display: none;
            }

            .authorization {
                display: none;
            }
        }
    }

    .authorization {
        &__btn {
            padding: 14px 22px;
            border-radius: 12px;

            span {
                font-family: 'ProximaNova';
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                background: $rainbowBtnGradient;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-wrap: nowrap;
            }

            &:hover {
                &::before {
                    left: 130%;
                    transition: left .5s ease-in-out;

                    @media (max-width:768px) {
                        display: none;
                    }
                }
            }

            &::before {
                content: "";
                background: $hoverBtn;
                height: 64px;
                width: 50px;
                position: absolute;
                top: 0px;
                left: -95px;
                transform: skewX(-45deg);

                @include media-breakpoint-down(xxs) {
                    height: 52px;
                }
            }
        }
    }

    .premium {
        &__btn {
            display: flex;
            padding: 14px 22px;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            border-radius: 12px;
            background: $rainbowBtnGradient;

            @media (max-width: 1100px) {
                transform: translateX(3px);
                display: flex;
                padding: 7px;
                justify-content: center;
                align-items: center;
                border-radius: 9px;
                background: $darkerGradientBtn;
            }

            span {
                color: $background;
                font-family: 'ProximaNova';
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-wrap: nowrap;

                @media (max-width: 1100px) {
                    display: none;
                }
            }

            &-icon {
                display: none;
                width: 18px;
                height: 18px;

                @media (max-width: 1100px) {
                    display: block;
                }
            }

            &:hover {
                &::before {
                    left: 130%;
                    transition: left .5s ease-in-out;

                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }
            }

            &::before {
                content: "";
                background: $hoverBtn;
                height: 64px;
                width: 50px;
                position: absolute;
                top: 0px;
                left: -95px;
                transform: skewX(-45deg);

                @include media-breakpoint-down(xxs) {
                    height: 52px;
                }
            }
        }
    }

    .burger__backdrop {
        display: none;
        position: fixed;
        transform: translateY(64px);
        height: 100%;
        width: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.75);

        &_active {
            display: block;
        }
    }

    &__burger {
        display: none;

        @media (max-width: 1100px) {
            position: relative;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            margin-right: 5px;
            gap: 5px;
            order: 2;
            background: $background;

            &-span-top {
                margin-left: 22px;
                height: 2px;
                width: 6px;
                background: $whiteTwo;
                z-index: 13;
                -webkit-transition: all 0.3s easy--in-out;
                transition: all 0.3s ease-in-out;
            }

            &-span-middle {
                margin-left: 12px;
                height: 2px;
                width: 16px;
                background: $whiteTwo;
                z-index: 13;
                -webkit-transition: all 0.3s easy--in-out;
                transition: all 0.3s ease-in-out;
            }

            &-span-bottom {
                margin-left: 16px;
                height: 2px;
                width: 12px;
                background: $whiteTwo;
                z-index: 13;
                -webkit-transition: all 0.3s easy--in-out;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    @media (max-width: 1100px) {
        .header__burger.header__burger_active .header__burger-span-middle {
            opacity: 0;
        }

        .header__burger.header__burger_active .header__burger-span-top {
            margin-left: -1px;
            width: 20px;
            transform: translateY(8px) translateX(10px) rotate(45deg);
        }

        .header__burger.header__burger_active .header__burger-span-bottom {
            margin-left: 8px;
            width: 20px;
            transform: translateY(-6px) translateX(1px) rotate(-45deg);
        }
    }
}