.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 12;
  width: 100%;
  height: 64px;
  background: $background;

  &__container {
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    padding: 0 15px;
    height: 64px;
    max-width: $maxWidthContainer;

    @media (width <= 1100px) {
      justify-content: space-between;
    }
  }

  &__logo {
    &-svg {
      width: 161px;
      height: 46px;
    }
  }

  .menu {
    flex: 1;
    margin-left: 14px;

    &__list {
      display: inline-flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 0;

      @include media-breakpoint-down(xxs) {
        align-items: center;
      }

      @media (width <= 1100px) {
        display: flex;
        flex-direction: column;
        align-items: start;
      }
    }

    &__item {
      a {
        position: relative;
        padding: 8px 12px;
        font-family: "Manrope";
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $gray6Color;
        text-wrap: nowrap;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 8px;
          width: 100%;
          height: 35px;
          background: $darkerGradientBtn;
          opacity: 0;
        }

        &:hover {
          -webkit-text-fill-color: transparent;
          background: $rainbowBtnGradient;
          background-clip: text;
          transition: all 0.5s ease-in-out;
        }

        &:hover::before {
          opacity: 1;
          transition: all 0.5s;
        }
      }

      &-lock {
        &-svg {
          margin-right: 4px;
          max-width: 14px;
          max-height: 14px;
          transform: translateY(2px);
        }
      }

      @media (width <= 1100px) {
        padding: 13px 20px;

        a {
          font-size: 16px;
        }
      }
    }

    &__buttons {
      display: none;

      @include media-breakpoint-down(xxs) {
        align-items: center;
      }

      @media (width <= 1100px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        padding: 13px 30px;
        gap: 13px;

        .authorization {
          max-width: 130px;
          max-height: 48px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      width: 50%;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
    }

    @include media-breakpoint-down(xxs) {
      align-items: center;
      padding: 100px;
    }

    @media (width <= 1100px) {
      position: fixed;
      right: -100%;
      top: 64px;
      z-index: 12;
      display: flex;
      flex-direction: column;
      align-items: start;
      overflow: auto;
      padding: 100px 100px 180px 50px;
      width: 39%;
      height: 100%;
      background: $background;
      background-size: cover;
      transition: right 0.3s ease 0s;
    }
  }

  .select {
    &__btn {
      display: flex;
      padding: 8px 12px;
      width: 74px;
      height: 35px;
      font-family: "Manrope";
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $gray6Color;
      gap: 4px;

      &_after {
        width: 18px;
        height: 18px;
      }
    }

    &__list {
      max-height: 110px;
      font-family: "Manrope";
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $gray6Color;

      &-item {
        padding: 8px 12px;
      }
    }
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @media (width <= 1100px) {
      .select__content {
        display: none;
      }

      .authorization {
        display: none;
      }
    }
  }

  .authorization {
    &__btn {
      border-radius: 12px;
      padding: 14px 22px;

      &::before {
        content: '';
        position: absolute;
        left: -95px;
        top: 0;
        width: 50px;
        height: 64px;
        background: $hoverBtn;
        transform: skewX(-45deg);

        @include media-breakpoint-down(xxs) {
          height: 52px;
        }
      }

      span {
        font-family: "ProximaNova";
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        -webkit-text-fill-color: transparent;
        background: $rainbowBtnGradient;
        background-clip: text;
        text-wrap: nowrap;
      }

      &:hover {
        &::before {
          left: 130%;
          transition: left 0.5s ease-in-out;

          @media (width <= 768px) {
            display: none;
          }
        }
      }
    }
  }

  .premium {
    &__btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 12px;
      padding: 14px 22px;
      background: $rainbowBtnGradient;

      &::before {
        content: '';
        position: absolute;
        left: -95px;
        top: 0;
        width: 50px;
        height: 64px;
        background: $hoverBtn;
        transform: skewX(-45deg);

        @include media-breakpoint-down(xxs) {
          height: 52px;
        }
      }

      span {
        font-family: "ProximaNova";
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: $background;
        text-wrap: nowrap;

        @media (width <= 1100px) {
          display: none;
        }
      }

      &-icon {
        display: none;
        width: 18px;
        height: 18px;

        @media (width <= 1100px) {
          display: block;
        }
      }

      &:hover {
        &::before {
          left: 130%;
          transition: left 0.5s ease-in-out;

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }
      }

      @media (width <= 1100px) {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;
        padding: 7px;
        background: $darkerGradientBtn;
        transform: translateX(3px);
      }
    }
  }

  .burger__backdrop {
    position: fixed;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
    transform: translateY(64px);

    &_active {
      display: block;
    }
  }

  &__burger {
    display: none;

    @media (width <= 1100px) {
      position: relative;
      display: flex;
      flex-direction: column;
      order: 2;
      margin-right: 5px;
      background: $background;
      cursor: pointer;
      gap: 5px;

      &-span-top {
        z-index: 13;
        margin-left: 22px;
        width: 6px;
        height: 2px;
        background: $whiteTwo;
        transition: all 0.3s ease-in-out;
      }

      &-span-middle {
        z-index: 13;
        margin-left: 12px;
        width: 16px;
        height: 2px;
        background: $whiteTwo;
        transition: all 0.3s ease-in-out;
      }

      &-span-bottom {
        z-index: 13;
        margin-left: 16px;
        width: 12px;
        height: 2px;
        background: $whiteTwo;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  @media (width <= 1100px) {
    .header__menu_active {
      right: 0;
      transition: right 0.3s ease 0s;
    }
  }

  @media (width <= 1100px) {
    .header__burger.header__burger_active .header__burger-span-middle {
      opacity: 0;
    }

    .header__burger.header__burger_active .header__burger-span-top {
      margin-left: -1px;
      width: 20px;
      transform: translateY(8px) translateX(10px) rotate(45deg);
    }

    .header__burger.header__burger_active .header__burger-span-bottom {
      margin-left: 8px;
      width: 20px;
      transform: translateY(-6px) translateX(1px) rotate(-45deg);
    }
  }
}
