.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: $background;

  &__content {
    display: flex;
    align-items: center;
    padding: 15px 0;
    gap: 12px;

    @include media-breakpoint-down(lg) {
      gap: 5px;
    }

    @include media-breakpoint-down(md) {
      justify-content: space-between;
    }
  }

  &__logo {
    width: 145px;
    height: 30px;
    margin: 0 8px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__menu{
    width: 85%;

    @include media-breakpoint-down(md) {
      width: auto;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Manrope;
    font-weight: 200;
    font-size: 14px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      width: 100vw;
      height: calc(100vh - 62px);
      padding: 15px 15px;
      overflow: auto;
      position: absolute;
      top: 62px;
      right: 100%;
      transition: right 0.3s ease-in-out;
      background-color: $background;
    }


    &_active{
      display: flex;
      right: 0;
    }

    &__list {
      display: flex;
      padding-top: 2px;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
        margin: auto 0 0;
      }

      &-item {
        padding: 8px 13px;

        @include media-breakpoint-down(lg) {
          padding: 8px;
        }

        &:hover {
          a {
            @include media-breakpoint-up(md) {
              text-shadow: 0 0 2px #68c9ff,
              0 0 6px #68c9ff,
              0 0 12px #d1b5ff;
            }
          }
        }

        a {
          @include media-breakpoint-up(md) {
            transition: text-shadow 0.5s ease-in-out;
          }
        }
      }

      .nft a {
        display: flex;
        gap: 8px;

        img {
          width: 14px;
          height: 14px;
        }
      }
    }

    &__btns {
      display: flex;
      align-items: center;
      gap: 8px;

      @include media-breakpoint-down(md) {
        margin: 0 0 auto;
      }
    }

    &__dropdown {
      display: flex;
    }

    &__auth,
    &__premium{
      display: flex;
    }

    &__premium {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .burger-menu {
    display: none;
    align-items: center;
    gap: 10px;

    @include media-breakpoint-down(md) {
      display: flex;
    }

    &__premium {
      padding: 10px 8.5px;
      border-radius: 9px;
      width: 32px;
      height: 32px;
      background: $blueToPurpleDarkGradient;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__btn {
      width: 14px;
      height: 12px;
      margin: 5px;
      position: relative;

      span {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: $whiteColor;
        border-radius: 5px;
        right: 0;
      }

      span {
        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(1) {
          width: 60%;
          transition: width 0.5s ease-in-out, transform 0.5s ease-in-out, top 0.5s ease-in-out, bottom 0.5s ease-in-out;
        }

        &:nth-child(3) {
          top: auto;
          bottom: -2px;
          width: 70%;
          transition: width 0.5s ease-in-out, transform 0.5s ease-in-out, top 0.5s ease-in-out, bottom 0.5s ease-in-out;
        }
      }

      &_active {
        span {
          &:nth-child(2) {
            width: 0;
          }

          &:nth-child(1),
          &:nth-child(3) {
            width: 100%;
            top: 50%;
          }

          &:nth-child(1){
            transform: translateY(-50%) rotate(45deg);
          }

          &:nth-child(3) {
            bottom: auto;
            transform: translateY(-50%) rotate(-45deg);
          }
        }
      }
    }
  }
}