.art-head {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  gap: 18px;

  svg {
    position: absolute;
    left: 240px;
    top: -13px;
    width: 45px;
    height: 65px;

    @include media-breakpoint-down(lg) {
      width: calc(26px + (45 - 26) * ((100vw - 375px) / (1440 - 375)));
      height: calc(36px + (65 - 36) * ((100vw - 375px) / (1440 - 375)));
    }

    @include media-breakpoint-down(md) {
      left: auto;
      right: 140px;
    }

    @include media-breakpoint-down(sm) {
      right: 15px;
      top: -20px;
    }

    @include media-breakpoint-down(xs) {
      right: -20px;
    }
  }

  &__title {
    font-family: ProximaNova;
    font-weight: bold;
    line-height: 65px;
    font-size: clamp(36px, 5vw, 64px);
    color: $whiteTwo;

    @include media-breakpoint-down(lg) {
      line-height: calc(40px + (65 - 40) * ((100vw - 375px) / (1440 - 375)));
    }
  }

  &__subtitle {
    max-width: 400px;
    font-family: ProximaNova;
    font-weight: normal;
    line-height: 28px;
    text-align: center;
    font-size: clamp(15px, 2.5vw, 16px);
    color: $whiteTwo;

    @include media-breakpoint-down(lg) {
      line-height: calc(24px + (28 - 24) * ((100vw - 375px) / (1440 - 375)));
    }
  }

  @include media-breakpoint-down(lg) {
    margin-top: calc(26px + (60 - 26) * ((100vw - 375px) / (1440 - 375)));
    gap: calc(16px + (18 - 16) * ((100vw - 375px) / (1440 - 375)));
  }
}
