.background {
    position: absolute;
    margin-top: 65px;
    width: 100%;
    z-index: 1;

    &__make-art {
        left: -40px;
        top: 95px;
    }

    &__no-war {
        right: -28px;
        top: 95px;
    }

    &__blur {
        position: absolute;
        left: 9%;
    }

    svg {
        position: absolute;
        right: 24.5%;
        top: 194px;
        width: 25px;
        height: 25px;
    }

    &__make-art,
    &__no-war {
        position: absolute;
        font-family: ProximaNova;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 79px;
        opacity: 0.2;
        color: transparent;
        -webkit-text-stroke: 1px $whiteTwo;
    }

    @include media-breakpoint-down(md) {
        display: none;
    }
}
