.background {
    position: absolute;
    z-index: 1;

    width: 100%;
    margin-top: 65px;

    &__make-art {
        top: 95px;
        left: -40px;
    }

    &__no-war {
        top: 95px;
        right: -28px;
    }

    &__blur {
        position: absolute;
        left: 9%;
    }

    svg {
        position: absolute;
        top: 194px;
        right: 24.5%;

        width: 25px;
        height: 25px;
    }

    &__make-art,
    &__no-war {
        font-family: ProximaNova;
        font-size: 79px;
        font-weight: bold;

        position: absolute;

        letter-spacing: 1px;

        opacity: 0.2;
        color: transparent;
        -webkit-text-stroke: 1px $whiteTwo;
    }

    @include media-breakpoint-down(md) {
        display: none;
    }
}
