.background {
    position: absolute;
    z-index: 1;
    margin-top: 65px;
    width: 100%;

    &__make-art {
        left: -40px;
        top: 95px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__no-war {
        right: -28px;
        top: 95px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__ellipse {
        position: absolute;
        right: 24.5%;
        top: 194px;
        width: 25px;
        height: 25px;

        @include media-breakpoint-down(xs) {
            right: 9%;
            top: 154px;
        }
    }

    &__star {
        position: absolute;
        left: 27%;
        top: 46px;
        width: 45px;
        height: 65px;

        @include media-breakpoint-down(xs) {
            left: unset;
            right: 0;
            top: 10px;
        }
    }

    &__make-art,
    &__no-war {
        position: absolute;
        font-family: 'ProximaNova';
        font-weight: 700;
        font-size: 79px;
        letter-spacing: 1px;
        -webkit-text-stroke: 1px $whiteTwo;
        color: transparent;
        opacity: 0.2;
    }

    &__blur-first {
        position: absolute;
        top: -60px;
        left: 0;
        z-index: -1;

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
    &__blur-second {
        position: absolute;
        top: -60px;
        right: 0;
        z-index: -1;
    }
    &__brilliant-first {
        position: absolute;
        top: 116px;
        left: -10.8%;
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
    &__brilliant-second {
        position: absolute;
        top: 36px;
        right: 19.5%;
        z-index: -3;

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
    &__brilliant-third {
        position: absolute;
        top: 150px;
        right: -8%;
        @include media-breakpoint-down(xs) {
            top: 74px;
            right: -11%;
        }
    }
}
