.chat {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: 22px 33px 0 27px;
    color: $whiteTwo;
    border-radius: 32px 32px 0 0;
    background: rgb(33, 36, 38);

    &::after {
        position: absolute;
        top: 0;
        left: 343px;
        width: 1px;
        height: 100%;
        content: '';
        opacity: 0.1;
        background-color: $whiteTwo;
    }

    &__content {
        display: flex;
    }

    &__list {
        min-width: 320px;
        margin-top: 12px;

        .chats {
            margin-top: 41px;

            &__item {
                font-size: 12px;
                font-weight: normal;
                line-height: 15px;
                position: relative;
                display: flex;
                align-items: center;
                max-width: 287px;
                margin-bottom: 7px;
                padding: 14px 18px 14px 12px;
                text-align: left;
                color: $whiteTwo;
                border-radius: 14px;
                background: rgb(29, 31, 33);
                gap: 13px;

                &.active {
                    background: rgb(44, 47, 51);
                }
            }
        }
    }

    &__header {
        letter-spacing: -0.4px;
    }

    &__name {
        font-size: 14px;
        letter-spacing: -0.7px;
    }

    &__time {
        position: absolute;
        top: 15px;
        right: 17px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__massage {
        letter-spacing: 0.9px;
    }

    &__one {
        display: none;
        width: 100%;
        padding: 3px 0 0 21px;

        &.active {
            display: block;
        }
    }

    .user {
        display: flex;
        align-items: center;

        &__img {
            width: 36px;
            height: 36px;
            margin-right: 14px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__online {
            font-size: 13px;
            position: relative;
            margin-left: 39px;

            &::before {
                position: absolute;
                top: 2px;
                right: 43px;
                width: 8px;
                height: 8px;
                content: '';
                border-radius: 50%;
                background: #47cd7d;
            }
        }
    }

    .message {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100vh;
        padding-bottom: 180px;

        &__my {
            font-size: 14px;
            line-height: 18px;
            width: fit-content;
            max-width: 402px;
            margin-bottom: 6px;
            margin-left: auto;
            padding: 12px 24px;
            border-radius: 8px 8px 0;
            background-color: rgb(44, 47, 51);

            &:first-child {
                padding: 12px;
            }
        }

        &__time {
            font-size: 12px;
            line-height: 15px;
            margin-left: auto;
            opacity: 0.4;
        }

        &__img {
            overflow: hidden;
            border-radius: 6px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__new {
            font-size: 12px;
            line-height: 15px;
            position: relative;
            margin: 24px 0;
            text-align: center;
            opacity: 0.4;

            &::after,
            &::before {
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                content: '';
                opacity: 0.4;
                background-color: $whiteTwo;
            }

            &::before {
                top: -4.5px;
            }

            &::after {
                bottom: -4.5px;
            }
        }

        &__from {
            font-size: 14px;
            line-height: 18px;
            position: relative;
            left: 29px;
            max-width: 403px;
            margin-bottom: 28px;
            padding: 12px 24px;
            border-radius: 8px 8px 8px 0;
            background-color: rgb(54, 38, 234);

            &::before {
                position: absolute;
                bottom: 0;
                left: -29px;
                width: 19px;
                height: 19px;
                content: '';
                border-radius: 50%;
                background-image: url("../images/for-client/chat/ivan-for-list.png");
                background-size: cover;
            }

            &::after {
                font-size: 12px;
                line-height: 15px;
                position: absolute;
                bottom: -22px;
                left: -29px;
                content: '10 min ago';
                opacity: 0.4;
            }
        }

        &__send {
            position: relative;
            width: 100%;
            margin-top: 20px;

            input {
                font-family: ProximaNova;
                font-size: 16px;
                line-height: 21px;
                width: 100%;
                padding: 21px 21px 22px 32px;
                color: $gray3Color;
                border-radius: 9px;
                background-color: rgb(44, 47, 51);
            }

            button {
                position: absolute;
                top: 21px;
                right: 24px;
                width: 24px;
                height: 24px;
                border: none;
                background: none;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
