.chat {
  position: relative;
  border-radius: 32px 32px 0 0;
  padding: 22px 33px 0 27px;
  color: $whiteTwo;
  background: rgb(33, 36, 38);

  @include media-breakpoint-down(sm) {
    padding: 0;
    background: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: 343px;
    top: 0;
    width: 1px;
    height: 100%;
    opacity: 0.1;
    background-color: $whiteTwo;

    @include media-breakpoint-down(md) {
      left: 263px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: repeat(auto-fit, minmax(830px, 1fr));

    @include media-breakpoint-down(md) {
      grid-template-columns: 225px 1fr;
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__list {
    margin-top: 12px;

    .chats {
      margin-top: 41px;

      @include media-breakpoint-down(sm) {
        margin-top: 0;
      }

      &__item {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        border-radius: 14px;
        padding: 14px 18px 14px 12px;
        max-width: 287px;
        font-weight: normal;
        line-height: 15px;
        text-align: left;
        font-size: 12px;
        color: $whiteTwo;
        background: rgb(29, 31, 33);
        gap: 13px;

        &.active {
          background: rgb(44, 47, 51);
        }

        &.hide {
          display: none;
        }

        @include media-breakpoint-down(sm) {
          width: 100%;
          max-width: 100%;
          background: rgb(44, 47, 51);
        }
      }
    }
  }

  &__header {
    letter-spacing: -0.4px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      font-weight: bold;
      line-height: 30px;
      font-size: 20px;
    }
  }

  &__name {
    letter-spacing: -0.7px;
    font-size: 14px;
  }

  &__time {
    position: absolute;
    right: 17px;
    top: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__massage {
    letter-spacing: 0.9px;
  }

  &__one {
    display: none;
    padding: 3px 0 0 21px;
    width: 100%;

    &.active {
      display: block;
    }
  }

  .user {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 5;

    &__img {
      margin-right: 14px;
      width: 36px;
      height: 36px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__online {
      position: relative;
      margin-left: 39px;
      font-size: 13px;

      &::before {
        content: '';
        position: absolute;
        right: 43px;
        top: 2px;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: #47cd7d;
      }
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80%;

    &__my {
      margin-bottom: 6px;
      margin-left: auto;
      border-radius: 8px 8px 0;
      padding: 12px 24px;
      width: fit-content;
      max-width: 402px;
      line-height: 18px;
      font-size: 14px;
      background-color: rgb(44, 47, 51);

      &:first-child {
        padding: 12px;
      }
    }

    &__time {
      margin-left: auto;
      line-height: 15px;
      font-size: 12px;
      opacity: 0.4;
    }

    &__img {
      overflow: hidden;
      border-radius: 6px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__new {
      position: relative;
      margin: 24px 0;
      line-height: 15px;
      text-align: center;
      font-size: 12px;
      opacity: 0.4;

      &::after,
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        opacity: 0.4;
        background-color: $whiteTwo;
      }

      &::before {
        top: -4.5px;
      }

      &::after {
        bottom: -4.5px;
      }
    }

    &__from {
      position: relative;
      left: 29px;
      margin-bottom: 28px;
      border-radius: 8px 8px 8px 0;
      padding: 12px 24px;
      max-width: 403px;
      line-height: 18px;
      font-size: 14px;
      background-color: rgb(54, 38, 234);

      &::before {
        content: '';
        position: absolute;
        left: -29px;
        bottom: 0;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        background-image: url('../images/for-client/chat/ivan-for-list.png');
        background-size: cover;
      }

      &::after {
        content: '10 min ago';
        position: absolute;
        left: -29px;
        bottom: -22px;
        line-height: 15px;
        font-size: 12px;
        opacity: 0.4;
      }
    }

    &__send {
      position: relative;
      margin-top: 20px;
      width: 100%;

      input {
        border-radius: 9px;
        padding: 21px 21px 22px 32px;
        width: 100%;
        font-family: ProximaNova;
        line-height: 21px;
        font-size: 16px;
        color: $gray3Color;
        background-color: rgb(44, 47, 51);
      }

      button {
        position: absolute;
        right: 24px;
        top: 21px;
        border: none;
        width: 24px;
        height: 24px;
        background: none;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .swiper {
    display: none;
    max-width: 410px;

    @include media-breakpoint-down(sm) {
      display: block;
    }

    &-wrapper {
      display: flex;
      gap: 27px;
    }

    &-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .chat {
      &__nav-btn {
        background: none;
        color: $whiteTwo;
      }

      &__img {
        width: 60px;
        height: 60px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &__name {
        font-weight: 600;
        line-height: 15px;
        text-wrap: nowrap;
        font-size: 12px;
      }

      &__time {
        position: unset;
        line-height: 15px;
        opacity: 0.4;
        font-size: 10px;
      }
    }
  }

  &__search {
    position: relative;
    display: none;
    margin-top: 17px;
    margin-bottom: 14px;
    width: 100%;

    @include media-breakpoint-down(sm) {
      display: block;
    }

    .search {
      border-radius: 12px;
      padding: 18px 47px;
      width: 100%;
      line-height: 15px;
      background-color: rgb(33, 36, 38);
      color: $whiteTwo;
      font-size: 14px;
    }

    svg {
      position: absolute;
      left: 22px;
      top: 17px;
      width: 17px;
      height: 17px;
    }
  }
}
