.header {
    &__container {
        position: relative;
        display: block;
        padding: 9px 15px;
        height: 64px;
        max-width: 1259px;

        @media (max-width: 1100px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__logo {
        transition: opacity 0.5s;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    .tabs {
        top: 100%;
        margin-top: 5px;
        margin-left: 10px;
        width: 100%;

        @media (max-width: 1100px) {
            margin: 0;
        }

        &__nav {
            display: flex;
            flex-direction: column;
            gap: 25px;

            @media (max-width: 1100px) {
                gap: 30px;
            }

            &-btn {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                font-weight: normal;
                line-height: 21px;
                font-size: 16px;
                color: $whiteTwo;
                background: none;
                gap: 11px;

                &:not(.active) {
                    svg path {
                        fill: rgb(82, 89, 96);
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -14.5px;
                    display: none;
                    width: 100%;
                    height: 1px;
                    opacity: 0.1;
                    background-color: $whiteTwo;

                    @media (max-width: 1100px) {
                        display: block;
                    }
                }
            }
        }
    }

    .menu {
        position: absolute;
        top: 92%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0;
        padding: 36px 26px 36px 2px;
        width: 217px;
        height: 92.6vh;

        @media (max-width: 1100px) {
            position: fixed;
            right: -100%;
            top: 64px;
            display: flex;
            flex-direction: column;
            align-items: start;
            overflow: auto;
            padding: 18px 15px 29px;
            width: 100%;
            height: auto;
            transition: right 0.3s ease 0s;
            gap: 30px;
            background: #1d1f21;
            background-size: cover;
        }

        &__logout {
            position: relative;
            display: flex;
            align-items: center;
            font-weight: normal;
            line-height: 21px;
            font-size: 14px;
            color: $whiteTwo;
            background: none;
            gap: 9px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -15.5px;
                width: 100%;
                height: 1px;
                opacity: 0.7;
                background-color: $whiteTwo;

                @media (max-width: 1100px) {
                    display: none;
                }
            }
        }

        &__info {
            font-weight: normal;
            line-height: 20px;
            font-size: 12px;
            color: $whiteTwo;

            @media (max-width: 1100px) {
                display: none;
            }
        }

        &__end {
            display: flex;
            flex-direction: column;
            gap: 28px;
        }
    }

    &__menu {
        &_active {
            position: absolute;
            top: 0;
        }
    }

    &__burger {
        @media (max-width: 1100px) {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9px;
            width: 32px;
            height: 32px;
            background: linear-gradient(130.1deg, rgba(104, 201, 255, 0.1) 22.178%, rgba(209, 181, 255, 0.1) 92.41%);
        }
    }
}
