.header {
    padding-top: 10px;
    &__link {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $gray6Color;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__link-text {
    }
    &__svg {
        width: 24px;
        height: 24px;
    }

    &__menu {
        display: none;

        &_active .header__menu-span-middle {
            @include media-breakpoint-down(md) {
                opacity: 0;
            }
        }

        &_active .header__menu-span-top {
            @include media-breakpoint-down(md) {
                width: 20px;
                margin-left: -1px;

                transform: translateY(8px) translateX(10px) rotate(45deg);
            }
        }

        &_active .header__menu-span-bottom {
            @include media-breakpoint-down(md) {
                width: 20px;
                margin-left: 8px;

                transform: translateY(-6px) translateX(1px) rotate(-45deg);
            }
        }

        @include media-breakpoint-down(md) {
            position: relative;
            display: flex;
            flex-direction: column;
            order: 2;
            border-radius: 9px;
            margin-right: 5px;
            cursor: pointer;
            gap: 5px;
            background: $background;

            &-span-top {
                z-index: 13;
                width: 6px;
                height: 2px;
                margin-left: 22px;
                border-radius: 9px;
                background: $benefitsStarBoxGradient;
                transition: all 0.3s ease-in-out;
            }

            &-span-middle {
                z-index: 13;
                border-radius: 9px;
                width: 16px;
                height: 2px;
                margin-left: 12px;
                background: $benefitsStarBoxGradient;
                transition: all 0.3s ease-in-out;
            }

            &-span-bottom {
                z-index: 13;
                width: 12px;
                height: 2px;
                margin-left: 16px;
                border-radius: 9px;
                background: $benefitsStarBoxGradient;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}
