.tabs {
    &__item {
        &.pages {
            display: none;
            margin-left: 220px;

            @media (max-width: 1100px) {
                margin-left: 0;
                width: 100%;
                max-width: 100%;
            }

            &.active {
                display: block;
            }
        }
    }
}
