<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="/" class="header__logo">
        <img src="@img/svg/logo-main.svg" alt="logo">
      </a>
      
      <nav class="header__menu">
        <div class="menu ">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a href="#">Main page</a>
            </li>

            <li class="menu__list-item nft nft_lock">
              <a href="#">
                <img src="@img/svg/lock.svg" alt="lock">

                NFT
              </a>
            </li>

            <li class="menu__list-item">
              <a href="#">Pictures</a>
            </li>

            <li class="menu__list-item">
              <a href="#">Auction</a>
            </li>

            <li class="menu__list-item">
              <a href="#">Pricing</a>
            </li>

            <li class="menu__list-item">
              <a href="#">Contacts</a>
            </li>

            <li class="menu__list-item">
              <a href="#">Blog</a>
            </li>
          </ul>

          <ul class="menu__btns">
            <li class="menu__dropdown">
              ENG

              <img src="@img/svg/arrow.svg" alt="arrow">
            </li>

            <li class="menu__auth">
              <a class="btn btn_dark">
                <span>Authorization</span>
              </a>
            </li>

            <li class="menu__premium">
              <a class="btn btn_light">Premium access</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="header__burger-menu burger-menu">
        <a class="burger-menu__premium" href="#">
          <img src="@img/svg/crown-gradient.svg" alt="crown-gradient">
        </a>

        <div class="burger-menu__btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>