<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="index.html" class="header__logo">
        <img src="@img/svg/logo-main.svg" alt="logo">
      </a>
      
      <nav class="header__menu">
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a href="index.html">Main page</a>
            </li>

            <li class="menu__list-item nft nft_lock">
              <a href="nft.html">
                <img src="@img/svg/lock.svg" alt="lock">

                NFT
              </a>
            </li>

            <li class="menu__list-item">
              <a href="pictures.html">Pictures</a>
            </li>

            <li class="menu__list-item">
              <a href="auction.html?id=X2mJ7pC9aW5">Auction</a>
            </li>

            <li class="menu__list-item">
              <a href="pricing.html">Pricing</a>
            </li>

            <li class="menu__list-item">
              <a href="contact.html">Contacts</a>
            </li>

            <li class="menu__list-item">
              <a href="#">Blog</a>
            </li>
          </ul>

          <ul class="menu__btns">
            <li class="menu__dropdown">
              <div class="dropdown">
                <button class="dropdown__btn">
                  <input type="text" class="dropdown__input_hidden">

                  <span class="dropdown__selected">
                    ENG
                  </span>

                  <img src="@img/svg/arrow.svg" alt="arrow">
                </button>

                <ul class="dropdown__list">
                  <li class="dropdown__list-item" data-value="eng">ENG</li>
                  <li class="dropdown__list-item" data-value="ua">UA</li>
                  <li class="dropdown__list-item" data-value="PL">PL</li>
                </ul>
              </div>
            </li>

            <li class="menu__auth">
              <a class="btn btn_dark">
                <span>Authorization</span>
              </a>
            </li>

            <li class="menu__premium">
              <a class="btn btn_light" href="premium.html">Premium access</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="header__burger-menu burger-menu">
        <a class="burger-menu__premium" href="premium.html">
          <img src="@img/svg/crown-gradient.svg" alt="crown-gradient">
        </a>

        <div class="burger-menu__btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>