<div class="nft-card">
  <p class="nft-card__title">NFT</p>

  <div class="nft-card__picture picture picture_@@bg-color">
    <div class="picture__ellipses-bg">
      <img src="@img/svg/ellipses-bg.svg" alt="ellipses-bg">
    </div>

    <div class="picture__img">
      <img src="@img/home/nfts/nft-art.png" alt="nft-art">
    </div>

  </div>

  <div class="nft-card__info info">
    <p class="info__title">
      Title of picture or NFT
    </p>

    <p class="info__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor ipsum dolor
    </p>
  </div>

  <div class="nft-card__price price">
    <p class="price__coast">$100 322</p>
    <a href="#" class="price__btn btn btn_light">Buy now</a>
  </div>
</div>