.payment {
    display: flex;
    justify-content: space-between;

    max-width: 1110px;
    margin: 0 auto;
    margin-top: 97px;
    margin-bottom: 60px;

    color: $whiteTwo;
    gap: 30px;

    .form {
        &__subtitle {
            font-size: clamp(14px, 2.5vw, 18px);
            font-weight: bold;
            line-height: 26.5px;

            max-width: 115px;

            letter-spacing: 1.8px;

            background: var(--primary, linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%));
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__title {
            font-size: clamp(26px, 3vw, 36px);
            font-weight: bold;
            line-height: 49.5px;

            span {
                -webkit-text-fill-color: transparent;

                background: var(--primary, linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%));
                background-clip: text;
            }
        }

        &__tabs {
            margin-top: 23px;

            .tabs {
                &__nav {
                    --active: 0;

                    position: relative;

                    display: grid;
                    align-items: flex-start;

                    max-width: 403px;
                    margin-bottom: 7px;
                    padding: 7px 8px;

                    border-radius: 12px;
                    background: $backgroundSecond;
                    grid-template-columns: repeat(3, 1fr);

                    &:has(.tabs__nav-btn:nth-child(2).active) {
                        --active: 1;
                    }

                    &:has(.tabs__nav-btn:nth-child(3).active) {
                        --active: 2;
                    }

                    &-btn {
                        font-size: clamp(14px, 2.5vw, 18px);
                        font-weight: bold;
                        line-height: 24px;

                        position: relative;
                        z-index: 5;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        min-width: 108px;
                        padding: 16px 19px;

                        color: $whiteTwo;
                        background: none;

                        &:nth-child(1) {
                            grid-area: 1/1/2/2;
                        }

                        &:nth-child(2) {
                            grid-area: 1/2/2/3;
                        }

                        &:nth-child(3) {
                            grid-area: 1/3/2/4;
                        }

                        &.active {
                            color: #000;
                        }
                    }

                    .selector {
                        position: relative;

                        width: 100%;
                        height: 100%;

                        pointer-events: none;

                        border-radius: 6px;
                        grid-area: 1/1/2/2;

                        &::before,
                        &::after {
                            position: absolute;
                            top: 0;
                            left: 0;

                            width: 100%;
                            height: 100%;

                            content: '';

                            border-radius: inherit;
                            background: linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%);
                            transition: 0.4s transform cubic-bezier(0.28, 1.33, 0.64, 1);
                            transform: translateX(calc(var(--active) * 100%));
                        }

                        &::before {
                            transition-delay: 0.05s;
                        }
                    }

                    @include media-breakpoint-down(sm) {
                        width: 100%;
                        max-width: 100%;
                    }
                }

                &__item {
                    display: none;

                    &.active {
                        display: block;
                    }
                }
            }
        }

        &__item {
            position: relative;

            display: flex;
            flex-direction: column;

            max-width: 410px;
            padding-top: 15px;
            gap: 7px;

            .just-validate-error-label {
                font-size: 14px;
                font-weight: bold;

                position: absolute;
                z-index: 3;
                top: 10px;
                right: 50%;

                padding: 8px;

                text-wrap: nowrap;

                border-radius: 7px;
                background: $rainbowBtnGradient;
                transform: translateX(50%);

                &::after {
                    position: absolute;
                    z-index: 3;
                    top: 28px;
                    left: 50%;

                    width: 10px;
                    height: 10px;

                    content: '';

                    background: $rainbowBtnGradient;
                    transform: translateX(-50%);
                    clip-path: polygon(0 0, 53% 100%, 100% 0);
                }
            }

            &-label {
                font-size: 14px;
                font-weight: normal;
                line-height: 21px;

                color: $gray6Color;
            }

            &-input {
                font-size: 16px;
                font-weight: normal;
                line-height: 21px;

                display: flex;
                align-items: center;

                height: 64px;
                padding: 21px 32px 22px;

                color: $gray6Color;
                border-radius: 9px;
                background: $backgroundSecond;
            }

            &-textarea {
                font-size: 16px;
                font-weight: normal;
                line-height: 21px;

                display: flex;
                align-items: center;

                height: 182px;
                padding: 21px 32px 22px;

                resize: none;

                color: $gray6Color;
                border-radius: 9px;
                background: $backgroundSecond;
            }

            @include media-breakpoint-down(sm) {
                max-width: none;
            }
        }

        &__dete-and-cvv {
            display: flex;

            max-width: 410px;
            gap: 16px;

            .form__item {
                max-width: 197px;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                    min-width: 0;
                    max-width: 100%;
                }
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
                max-width: 100%;
            }
        }

        &__send-btn {
            width: 410px;
            margin-top: 15px;
            padding: 18px 0 19px;

            p {
                font-family: ProximaNova;
                font-size: 18px;
                font-weight: bold;
                line-height: 26.5px;

                color: $background;
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }

        &__agree {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: start;

            padding-top: 18px;
            gap: 10px;

            &-checkbox {
                position: absolute;

                overflow: hidden;
                clip: rect(0 0 0 0);

                width: 1px;
                height: 1px;
                padding-left: 20px;
            }

            &-checkstyle {
                position: absolute;
                top: 0;
                left: 0%;

                width: 20px;
                height: 20px;

                border: 1px solid var(--stroke, #525960);
                border-radius: 7px;
            }

            &-checkbox:checked + .form__agree-checkstyle::before {
                position: absolute;
                top: 50%;
                left: 50%;

                width: 14px;
                height: 14px;

                content: '';

                border-radius: 5px;
                background: $rainbowBtnGradient;
                transform: translateX(-50%) translateY(-50%);
            }

            &-label {
                font-family: ProximaNova;
                font-size: 14px;
                font-weight: normal;
                line-height: 21px;

                padding-left: 30px;

                cursor: pointer;

                color: $gray6Color;
                transform: translateY(1px);

                a {
                    font-size: 14px;
                    font-weight: 600;

                    padding: 0 8px;

                    color: var(--color-3, #86a8ff);
                    text-decoration-line: underline;
                }
            }

            .just-validate-error-label {
                font-size: 14px;
                font-weight: bold;

                position: absolute;
                z-index: 3;
                bottom: -40px;
                left: 0;

                padding: 8px;

                text-wrap: nowrap;

                border-radius: 7px;
                background: $rainbowBtnGradient;

                &::after {
                    position: absolute;
                    z-index: 3;
                    top: -9px;
                    left: 4%;

                    width: 10px;
                    height: 10px;

                    content: '';

                    background: rgb(104 201 255);
                    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                }
            }

            @include media-breakpoint-down(xs) {
                padding-top: 15px;
            }
        }

        &__copy {
            font-size: 16px;
            font-weight: bold;
            line-height: 21px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            height: 64px;
            padding: 21px 32px 22px;

            color: $whiteTwo;
            border-radius: 9px;
            background: $backgroundSecond;
            gap: 15px;

            .copy-text {
                overflow: hidden;

                width: 100%;

                text-overflow: ellipsis;
            }

            .copy-btn {
                width: 18px;
                height: 18px;

                background: none;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    &__about {
        margin-top: 17px;

        .about {
            max-width: 350px;
            padding: 20px 15px 28px 21px;

            border-radius: 12px;
            background: $backgroundSecond;

            &__title {
                font-size: 16px;
                font-weight: normal;
                line-height: 28px;

                margin-bottom: 25px;
            }

            &__price {
                position: relative;

                display: flex;
                align-items: center;
                justify-content: space-between;

                padding-bottom: 23px;

                &::before {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    width: 100%;
                    height: 1px;

                    content: '';

                    opacity: 0.2;
                    background-color: $whiteTwo;
                }
            }

            .price {
                &__text {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 17px;

                    max-width: 45px;

                    letter-spacing: 1.4px;

                    background: var(--primary, linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%));
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &__cost {
                    font-size: 26px;
                    font-weight: bold;
                    line-height: 33.5px;
                }
            }

            .bid {
                font-size: 14px;
                font-weight: bold;
                line-height: 26.5px;

                display: inline-flex;
                align-items: center;
                justify-content: center;

                padding: 7px 20px 6px;

                letter-spacing: 1.4px;

                color: $greenColor;
                border-radius: 11px;
                background: $greenBg;
            }

            &__detailed {
                font-size: 14px;
                font-weight: bold;
                line-height: 26.5px;

                margin: 10px 0;

                letter-spacing: 1.4px;

                background: var(--primary, linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%));
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .detailed {
                position: relative;

                display: flex;
                align-items: center;

                margin-bottom: 20px;
                gap: 42px;

                &__size {
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 28px;

                    width: 100%;
                    max-width: 101px;

                    &::after {
                        position: absolute;
                        top: 0;
                        left: 122px;

                        width: 1px;
                        height: 100%;

                        content: '';

                        opacity: 0.2;
                        background-color: $whiteTwo;
                    }
                }

                &__info {
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 28px;
                }
            }

            &__info {
                font-size: 14px;
                font-weight: normal;
                line-height: 21px;

                opacity: 0.7;
            }

            @include media-breakpoint-down(sm) {
                max-width: none;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}
