.background {
    position: absolute;
    z-index: 1;
    left: 50%;

    width: 100%;

    transform: translateX(-50%);

    &__blur-left {
        position: absolute;
        left: 0;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__blur-right {
        position: absolute;
        right: 0;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__svg-star {
        position: absolute;
        z-index: 1;
        top: 61%;
        left: 25.8%;

        width: 46px;
        height: 62px;

        @include media-breakpoint-down(sm) {
            top: 24%;
            left: 7%;
        }

        @include media-breakpoint-down(xs) {
            top: 8%;
            left: 0%;
        }
    }

    &__svg-ellipse {
        position: absolute;
        z-index: 1;
        top: 93%;
        left: 72.5%;

        width: 25px;
        height: 25px;
    }

    &__blur-mobile {
        display: none;

        @include media-breakpoint-down(sm) {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;

            display: block;

            width: 100%;
        }
    }
}
