.background {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    z-index: 1;

    &__blur {
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }
}
