.register-form {
    position: relative;
    padding-bottom: 67px;

    // &__decor {
    //     position: absolute;

    //     &_first {
    //         left: -13%;
    //         bottom: 14%;

    //       @include media-breakpoint-down(sm) {
    //         display: none;
    //       }
    //     }

    //     &_second {
    //       left: 7%;
    //       bottom: 4%;

    //       @include media-breakpoint-down(sm) {
    //         display: none;
    //       }
    //     }

    //     &_third {
    //         left: 2%;
    //         top: 24%;

    //       @include media-breakpoint-down(sm) {
    //         display: none;
    //       }
    //     }

    //     &_fourth {
    //         right: -13%;
    //         bottom: 12%;

    //       @include media-breakpoint-down(sm) {
    //         display: none;
    //       }
    //     }
    // }

    &__title {
        margin-bottom: 6px;
        font-weight: bold;
        line-height: 137%;
        text-align: center;
        font-size: 36px;
        color: $whiteTwo;

        @include media-breakpoint-down(xs) {
            line-height: 131%;
            text-align: left;
            font-size: 26px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px;
        border-radius: 12px;
        width: 191px;
        height: 38px;
        background: $rainbowBtnGradient;
        gap: 5px;

        @include media-breakpoint-down(xs) {
            margin-left: 0;
        }
    }

    &__info-text {
        line-height: 175%;
        color: $background;

        &:first-child {
            font-weight: 800;
            font-size: 16px;
        }
    }

    &__tabs {
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 23px;
        border-radius: 12px;
        padding: 7px 8px;
        background: $backgroundSecond;
    }

     &__plans {
          display: flex;
          justify-content: space-between;
          width: 410px;

          @include media-breakpoint-down(xs) {
            width: 350px;
          }
        }

      &__plans-button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: none;
          border-radius: 12px;
          padding: 17px 19px;
          width: 120px;
          white-space: nowrap;
          z-index: 2;
          font-size: 18px;
          background: $backgroundSecond;

          &_active {
              background: linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%);
          }

          @include media-breakpoint-down(xs) {
            width: 109px;
          }
          
      }

      &__plans-button-text {
        font-weight: 700;
        font-size: 18px;
        line-height: 147%;
        text-align: center;
        background: linear-gradient(130deg, #68c9ff 0%, #d1b5ff 99.47%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &__plans-button_active .register-form__plans-button-text {
        -webkit-text-fill-color: $background;
      }

    .form {
        margin: 0 auto;
        width: 410px;

        &__item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 10px;
            gap: 6px;

            &_last {
              margin-bottom: 38px;

              @include media-breakpoint-down(xs) {
                margin-bottom: 2px;
              }
            }
        }

        &__item-label {
            font-family: ProximaNova;
            font-weight: normal;
            line-height: 150%;
            font-size: 14px;
            color: $gray6Color;
        }

        &__item-input {
            border-radius: 9px;
            padding: 21px 32px 22px;
            width: 410px;
            font-size: 16px;
            color: $whiteColor;
            background: $backgroundSecond;

            &::placeholder {
                font-family: ProximaNova;
                font-weight: normal;
                line-height: 131%;
                font-size: 16px;
                opacity: 0.6;
                color: $gray6Color;
            }

            @include media-breakpoint-down(xs) {
                width: 345px;
            }
        }

        &__item-textarea {
            border-radius: 9px;
            padding: 21px 32px 22px;
            width: 410px;
            height: 120px;
            font-size: 16px;
            color: $whiteColor;
            background: $backgroundSecond;
            resize: none;

            &::placeholder {
                font-family: ProximaNova;
                font-weight: normal;
                line-height: 131%;
                font-size: 16px;
                opacity: 0.6;
                color: $gray6Color;
            }

            @include media-breakpoint-down(xs) {
                width: 345px;
            }
        }

        .just-validate-error-label {
            position: absolute;
            right: 50%;
            top: -10px;
            border-radius: 7px;
            padding: 8px;
            font-weight: bold;
            text-wrap: nowrap;
            transform: translateX(50%);
            z-index: 3;
            font-size: 14px;
            color: #1d1f21 !important;
            background: $rainbowBtnGradient;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 28px;
                clip-path: polygon(0 0, 53% 100%, 100% 0);
                width: 10px;
                height: 10px;
                transform: translateX(-50%);
                z-index: 3;
                background: $rainbowBtnGradient;
            }
        }

        &__button {
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 16px;
            padding: 18px 0 19px;
            width: 410px;
            font-weight: bold;
            line-height: 147%;
            font-size: 18px;
            color: $background;
            background: $rainbowBtnGradient;

            @include media-breakpoint-down(xs) {
                width: 345px;
            }
        }

        &__agree {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: start;
            padding-top: 18px;
            gap: 10px;

            &-checkbox {
                position: absolute;
                overflow: hidden;
                padding-left: 20px;
                width: 1px;
                height: 1px;
                clip: rect(0 0 0 0);
            }

            &-checkstyle {
                position: absolute;
                left: 0%;
                top: 0;
                border: 1px solid var(--stroke, #525960);
                border-radius: 7px;
                width: 20px;
                height: 20px;
            }

            &-checkbox:checked + .form__agree-checkstyle::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                border-radius: 5px;
                width: 14px;
                height: 14px;
                transform: translateX(-50%) translateY(-50%);
                background: $rainbowBtnGradient;
            }

            &-label {
                padding-left: 30px;
                font-family: ProximaNova;
                font-weight: normal;
                line-height: 21px;
                cursor: pointer;
                transform: translateY(1px);
                font-size: 14px;
                color: $gray6Color;

                a {
                    padding: 0 8px;
                    font-weight: 600;
                    text-decoration-line: underline;
                    font-size: 14px;
                    color: var(--color-3, #86a8ff);
                }
            }

            .just-validate-error-label {
                position: absolute;
                left: 0;
                bottom: -40px;
                border-radius: 7px;
                padding: 8px;
                font-weight: bold;
                text-wrap: nowrap;
                z-index: 3;
                font-size: 14px;
                background: $rainbowBtnGradient;

                &::after {
                    content: '';
                    position: absolute;
                    left: 4%;
                    top: -9px;
                    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                    width: 10px;
                    height: 10px;
                    z-index: 3;
                    background: rgb(104 201 255);
                }
            }

            @include media-breakpoint-down(xs) {
                padding-top: 15px;
            }
        }
    }
}
