.card {
    color: $whiteTwo;
    background: $backgroundSecond;
    border-radius: 12px;
    padding: 19px 39px 30px 22px;

    @include media-breakpoint-down(sm) {
      width: 500px;
    }

    @include media-breakpoint-down(xs) {
      width: 345px;
    }

    &_hidden {
      display: none;
    }

    &__head {
        display: flex;
        align-items: center;
    }

    &__counter {
        margin-right: 17px;
    }

    &__counter-svg {
        width: 16px;
        height: 20px;
    }

    &__img {
        width: 40px;
        height: 40px;
        margin-right: 17px;
    }

    &__head-name {
        font-weight: 400;
        font-size: 14px;
        line-height: 136%;
        color: $gray6Color;
    }

    &__head-question {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
    }

    &__head-date {
        font-weight: 400;
        font-size: 14px;
        line-height: 136%;
        color: $gray6Color;
        margin-left: auto;
    }

    &__answer-box {
        max-width: 540px;
        margin: 0 auto;
    }

    &__answer {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        margin-bottom: 16px;
    }

    &__buttons {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    &__button-view {
      background: $darkerGradientBtn;
      padding: 10px 15px 10px 21px;
      border-radius: 10px;
    }

    &__button-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 143%;
      background: $rainbowBtnGradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__button-answer {
      display: flex;
      align-items: center;
      gap: 10px;
      background: $backgroundSecond;
    }

    &__button-svg {
      max-width: 20px;
      max-height: 20px;
      min-width: 20px;
      min-height: 20px;
    }

    &__button-answer-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 143%;
      color: $greenColor;
    }

}
