.stat {
    max-width: 365px;
    margin-top: 18px;
    padding: 27px 32px 29px;

    color: $whiteTwo;
    border-radius: 12px;
    background-color: $backgroundSecond;

    &__head {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 10px;

        border-radius: 12px;
        background-color: rgb(44, 47, 51);

        svg {
            width: 28px;
            height: 28px;
        }
    }

    &__title {
        font-family: ProximaNova;
        font-size: clamp(14px, 2.5vw, 18px);
        font-weight: bold;
        line-height: 26px;

        max-width: 75px;

        letter-spacing: 1.8px;

        background: $rainbowBtnGradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-down(xs) {
            letter-spacing: 1.4px;
        }
    }

    &__parametrs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px 10px;

        margin-top: 19px;

        .parametr {
            &__name {
                font-size: 14px;
                font-weight: normal;
                line-height: 21px;

                opacity: 0.7;
            }

            &__count {
                font-size: 36px;
                font-weight: bold;
                line-height: 49.5px;
            }
        }
    }
}
