.background {
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: 65px;

    @include media-breakpoint-down(md) {
        display: none;
    }

    &__make-art,
    &__no-war {
        font-family: "ProximaNova";
        font-size: 79px;
        letter-spacing: 1px;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke: 1px $whiteTwo;
        opacity: 0.2;
        position: absolute;
    }

    &__make-art {
        left: -40px;
        top: 95px;
    }

    &__no-war {
        right: -28px;
        top: 95px
    }

    &__blur{
        position: absolute;
        left: 9%;
    }

    &__ellipse{
        position: absolute;
        width: 25px;
        height: 25px;
        right: 24.5%;
        top: 194px;
    }

    &__star{
        position: absolute;
        left: 27%;
        top: 46px;
        width: 45px;
        height: 65px;
    }
}