.nft-head {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding-top: 52px;
    gap: 18px;

    &__title {
        font-family: 'ProximaNova';
        font-weight: 700;
        font-size: clamp(36px, 5vw, 64px);
        line-height: 65px;
        text-align: center;
        color: $whiteTwo;

        @include media-breakpoint-down(lg) {
            line-height: calc(40px + (65 - 40) * ((100vw - 375px) / (1440 - 375)));
        }

        @include media-breakpoint-down(xs) {
            padding-top: 12px;
        }
    }

    &__subtitle {
        max-width: 400px;
        font-family: 'ProximaNova';
        font-weight: 400;
        font-size: clamp(15px, 2.5vw, 16px);
        line-height: 28px;
        text-align: center;
        color: $whiteTwo;

        @include media-breakpoint-down(lg) {
            line-height: calc(24px + (28 - 24) * ((100vw - 375px) / (1440 - 375)));
        }
    }

    @include media-breakpoint-down(lg) {
        margin-top: calc(26px + (60 - 26) * ((100vw - 375px) / (1440 - 375)));
        gap: calc(16px + (18 - 16) * ((100vw - 375px) / (1440 - 375)));
    }
}

.nfts {
    &-content {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, minmax(200px, 350px));
        padding-top: 50px;
        padding-bottom: 100px;
        gap: 24px 30px;

        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(2, minmax(163px, 350px));
        }

        @include media-breakpoint-down(xs) {
            grid-template-columns: repeat(2, auto);
            padding-top: 44px;
            gap: 16px 20px;
        }

        @include media-breakpoint-down(xxs) {
            gap: 10px 10px;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        height: 600px;
        max-width: 100%;
        background: $backgroundSecond;
        transition: transform 0.3s ease-in-out;

        &__nft {
            padding: 17px 0 0 20px;
            max-width: 65px;
            font-family: 'ProximaNova';
            font-weight: 700;
            font-size: clamp(12px, 2.5vw, 18px);
            line-height: 26.5px;
            letter-spacing: 1.8px;
            -webkit-text-fill-color: transparent;
            background: $rainbowBtnGradient;
            background-clip: text;

            @include media-breakpoint-down(xs) {
                order: 2;
                padding: 4px 0 0 11px;
                max-width: 60px;
                letter-spacing: 1.4px;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 53px 70px;
            height: 350px;

            &-img {
                border-radius: 50%;
                width: fit-content;
                height: 100%;
                max-width: 264px;
                object-fit: cover;
                aspect-ratio: 1/1;
            }

            &-img {
                border-radius: 50%;
                width: fit-content;
                height: 100%;
                max-width: 264px;
                object-fit: cover;
                aspect-ratio: 1/1;

                @include media-breakpoint-down(sm) {
                    max-width: 200px;
                }

                @include media-breakpoint-down(xs) {
                    max-width: 123px;
                }
            }

            @include media-breakpoint-down(sm) {
                padding: 35px;
            }

            @include media-breakpoint-down(xs) {
                order: 1;
            }
        }

        &__title {
            padding: 35px 24px 0;
            font-family: 'ProximaNova';
            font-weight: 700;
            font-size: clamp(13px, 2.5vw, 20px);
            line-height: 30px;
            color: $whiteTwo;

            @include media-breakpoint-down(xs) {
                order: 3;
                padding: 0 11px;
                line-height: 26.5px;
                transform: translateY(-10px);
            }

            @include media-breakpoint-down(xxs) {
                padding: 5px 11px;
                line-height: 16.5px;
            }
        }

        &__paragraph {
            padding: 0 24px 20px;
            max-width: 350px;
            font-family: 'ProximaNova';
            font-weight: 400;
            font-size: clamp(10px, 2.5vw, 14px);
            line-height: 21px;
            color: $gray6Color;

            @include media-breakpoint-down(xs) {
                order: 4;
                padding: 0 17px 0 12px;
                line-height: 15.5px;
                transform: translateY(-14px);
            }
        }

        &__price {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 13px 21px 17px 24px;
            text-wrap: nowrap;

            &::before {
                content: '';
                position: absolute;
                left: 5%;
                top: -2px;
                width: 90%;
                height: 1px;
                background: $whiteTwo;
                opacity: 0.05;

                @include media-breakpoint-down(xs) {
                    display: none;
                }
            }

            &-value {
                font-family: 'ProximaNova';
                font-weight: 700;
                font-size: clamp(14px, 2.5vw, 26px);
                line-height: 33.5px;
                color: $whiteTwo;
            }

            &-btn {
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 12px;
                padding: 14px 30px;
                background: $rainbowBtnGradient;

                &::before {
                    content: '';
                    position: absolute;
                    left: -95px;
                    top: 0;
                    width: 50px;
                    height: 100px;
                    background: linear-gradient(90deg, rgb(255 255 255 / 10%), rgb(255 255 255 / 50%));
                    transform: skewX(-45deg);
                }

                p {
                    font-family: 'ProximaNova';
                    font-weight: 700;
                    font-size: clamp(12px, 2.5vw, 14px);
                    line-height: 20px;
                    color: $background;
                }

                &:hover {
                    &::before {
                        left: 130%;
                        transition: left 0.5s ease-in-out;

                        @include media-breakpoint-down(sm) {
                            display: none;
                        }
                    }
                }

                @include media-breakpoint-down(xs) {
                    border-radius: 8px;
                    padding: 7px 15px;
                    width: 100%;
                    max-width: 100%;
                    transform: translateY(1px);
                }
            }

            @include media-breakpoint-down(xs) {
                flex-direction: column;
                align-items: start;
                order: 5;
                padding: 0 11px 17px;
                transform: translateY(-10px);

                a {
                    width: 100%;
                }
            }
        }

        &-nav {
            @include media-breakpoint-down(sm) {
                height: 515px;
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
                height: 100%;
                min-width: 163px;
                min-height: 339px;
            }

            @include media-breakpoint-down(xxs) {
                width: 100%;
                height: 100%;
                min-width: 143px;
                min-height: 339px;
            }
        }

        @include media-breakpoint-down(sm) {
            height: 535px;
        }

        @include media-breakpoint-down(xs) {
            width: 100%;
            height: 100%;
            min-width: 163px;
            min-height: 339px;
        }

        @include media-breakpoint-down(xxs) {
            width: 100%;
            height: 100%;
            min-width: 143px;
            min-height: 339px;
        }
    }
}
}
