.are-you-ready {
  display: flex;
  align-items: center;

  margin-top: 21px;
  padding: 0 15px;
  gap: 20px;

  &__info {
    font-family: ProximaNova;

    padding-top: 88px;

    @include media-breakpoint-down(md) {
      padding-top: calc(0px + (88 - 0) * ((100vw - 375px) / (1024 - 375)));
    }

    @include media-breakpoint-down(xs) {
      padding-right: calc(80px + (0 - 80) * (100vw - 375px) / (425 - 375));
    }

    @include media-breakpoint-down(xxs) {
      padding-right: 0;
    }
  }

  &__title {
    font-size: clamp(36px, 10vw, 64px);
    font-weight: bold;
    line-height: 65px;

    margin-bottom: 16px;

    color: $whiteTwo;

    @include media-breakpoint-down(lg) {
      line-height: calc(40px + (65 - 40) * ((100vw - 375px) / (1440 - 375)));

      margin-bottom: calc(8px + (16 - 8) * ((100vw - 375px) / (1440 - 375)));
    }
  }

  &__about {
    font-size: clamp(15px, 10vw, 16px);
    font-weight: normal;
    line-height: 28px;

    max-width: 270px;
    margin-bottom: 40px;

    color: $whiteTwo;

    @include media-breakpoint-down(lg) {
      line-height: calc(24px + (28 - 24) * ((100vw - 375px) / (1440 - 375)));

      margin-bottom: calc(22px + (40 - 22) * ((100vw - 375px) / (1440 - 375)));
    }

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &__btn {
    display: flex;
  }

  &__picture {
    position: relative;

    width: 100%;
    max-width: 625px;
    height: 100%;
    min-height: 616px;
    aspect-ratio: 1/1;

    @include media-breakpoint-down(md) {
      max-width: 625px;
      min-height: 100%;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;

    max-width: 617px;
    max-height: 617px;
    margin-right: 8px;
    aspect-ratio: 1/1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__img {
    position: absolute;
    top: 40px;
    right: 0;

    overflow: hidden;

    max-width: 561px;
    max-height: 561px;
    margin-left: 35px;

    border-radius: 24px;
    aspect-ratio: 1/1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;

    margin-top: calc(62px + (62 - 21) * ((100vw - 375px) / (1024 - 375)));
    padding: 0;
    gap: 15px;
  }
}
