.background {
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: 65px;

    @media (max-width:1100px) {
        display: block;
    }

    &__custom,
    &__unique {
        font-family: "ProximaNova";
        font-size: 79px;
        letter-spacing: 1px;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke: 1px $whiteTwo;
        opacity: 0.2;
        position: absolute;

        @include media-breakpoint-down(lg) {
            font-size: calc(50px + (79 - 50) * ((100vw - 375px)/(1440 - 375)));
        }
    }

    &__custom {
        left: -106px;
        top: 87px;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__unique {
        right: 381px;
        top: 612px;

        @include media-breakpoint-down(md) {
            top: 11px;
            right: -144px;
        }
    }

    &__blur {
        position: absolute;
        left: 0;
        top: -70px;

        @include media-breakpoint-down(sm) {
            display: none;
        }

        &_mob {
            display: none;

            @include media-breakpoint-down(sm) {
                display: block;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    svg {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 54.25%;
        top: 476px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}