html, body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: $background;
}

.container {
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}

[class$="__content"]{
  position: relative;
  z-index: 3;
}