$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1170;
$containerWidth: 1140;

$md1: 1650;
$md2: 1420;
$md3: 1024;
$md4: 768;
$md5: 576;
$md6: 375;

$background: #1D1F21;
$whiteColor: #FCFFFF;
$grayText: #C8D2DC;
$hoverColor: #68C9FF;
$mainDarkColor: #212426;
$mainDarkColorCardBg: rgb(33 36 38 / 0.7);
$lightBgColor: #212426;
$green: #C5FF98;
$greenBg: rgb(197 255 152 / 0.1);
$blueCardBg: #86A8FF;
$purpleCardBg: #7E51FF;
$greenCardBg: #C5FF98;
$lightGray: #525960;


$blueToPurpleGradient: linear-gradient(45deg, #68C9FF 0%, #D1B5FF 99%);
$blueToPurpleDarkGradient: linear-gradient(45deg, rgba(#68C9FF, 0.1) 0%, rgba(#D1B5FF, 0.1) 99%);
$blueToPurpleBgGradient: linear-gradient(45deg, #6880FF 0%, #3CA7F4 55%, #8C45FF 99%);
$blueToPurpleGradientCardBg: linear-gradient(165deg, rgba(#6880FF, 0.9) 0%, rgba(#3CA7F4, 0.9) 55%, rgba(#8C45FF, 0.9) 99%);

$mainFont: 'ProximaNova';
$fontFamily: $mainFont, sans-serif;
$fontWeight: 300;
$fontColor: $whiteColor;
$fontSize: 16;