.background {
    position: absolute;
    margin-top: 65px;
    width: 100%;
    z-index: 1;

    &__become {
        left: -7.5%;
        top: 48px;

        @include media-breakpoint-down(md) {
            left: auto;
            right: -95px;
            top: 2px;
        }
    }

    &__team {
        right: 30.5%;
        top: 517px;

        @include media-breakpoint-down(md) {
            left: -82px;
            right: auto;
            top: 495px;
        }
    }

    &__blur {
        position: absolute;
        left: 0;
        top: -70px;

        &_mob {
            display: none;

            @include media-breakpoint-down(sm) {
                display: block;
                width: 100%;
                object-fit: contain;
            }
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    svg {
        position: absolute;
        right: 54.5%;
        top: 486px;
        width: 25px;
        height: 25px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__become,
    &__team {
        position: absolute;
        font-family: ProximaNova;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 79px;
        opacity: 0.2;
        color: transparent;
        -webkit-text-stroke: 1px $whiteTwo;

        @include media-breakpoint-down(lg) {
            font-size: calc(50px + (79 - 50) * ((100vw - 375px) / (1440 - 375)));
        }
    }

    @media (width <= 1100px) {
        display: block;
    }
}
