@import 'style';
@import './authorization/backround.scss';
@import './config/vars.scss';
@import './config/media-breakpoints';

.authorization {
  margin: 0 auto;
  max-width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 186px 0 196px;

  @include media-breakpoint-down(sm) {
    padding: 20px 0 196px;
  }

  &__svg {
    width: 172px;
    height: 46px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: 'ProximaNova';
    font-weight: 700;
    font-size: 36px;
    line-height: 137%;
    color: $whiteTwo;
    margin-bottom: 13px;
    text-align: center;

    @include media-breakpoint-down(xs) {
      font-size: 26px;
    }
  }

  &__tabs {
    display: flex;
    border-radius: 12px;
    padding: 7px 8px;
    background: $backgroundSecond;
    // gap:20px;
    margin-bottom: 23px;

    @include media-breakpoint-down(xs) {
      width: 345px;
    }
  }

  .tabs {
    &__button{
      outline: none;
      background: none;
      color: $whiteColor;
      width: 129px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 14px 19px;
      font-size: clamp(14px, 2.5vw, 18px);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      border-radius: 12px;
      // line-height: 175%;

      &_active {
        background: $rainbowBtnGradient;
        font-size: 18px;
        font-weight: 400;
        // line-height: 133%;
        color: $background;
        &_hover {
          &:hover {
            background: $hoverBtn;
          }
        }
      }

      @include media-breakpoint-down(xs) {
        font-size: 14px;
      }
    }
  }

  .form {
    &__item {
      display: flex;
      flex-direction: column;
      gap: 9px;
      align-items: flex-start;
      margin-bottom: 17px;
    }

    &__item-label {
      font-family: 'ProximaNova';
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: $gray6Color;
    }

    &__item-input {
      width: 410px;
      background: $backgroundSecond;
      padding: 21px 32px 22px;
      border-radius: 9px;
      color: $whiteColor;
      font-size: 16px;

      &::placeholder {
        font-family: 'ProximaNova';
        font-weight: 400;
        font-size: 16px;
        line-height: 131%;
        color: $gray6Color;
        opacity: 0.6;
      }

      @include media-breakpoint-down(xs) {
        width: 345px;
      }
    }

    &__button {
      width: 410px;
      background: $rainbowBtnGradient;
      font-weight: 700;
      font-size: 18px;
      line-height: 147%;
      color: $background;
      border-radius: 16px;
      padding: 18px 0 19px;
      margin-top: 5px;
      margin-bottom: 15px;

      @include media-breakpoint-down(xs) {
        width: 345px;
      }
    }
  }

  &__accaunt {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $gray6Color;
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-decoration: underline;
    color:$blueAuth;
  }

  .roles {
    display: none;

    &_visible {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
   


    &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: $gray6Color;
      text-align: left;
    }

    &__box {
      display: flex;
      justify-content: space-between;
      color:$whiteColor;
      gap: 16px;
    }

    &__check {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    &__check-label {
      border-radius: 38px;
      width: 22px;
      height: 22px;
      background: $backgroundSecond;
      border: 1px solid #525960;
      cursor: pointer;

      &_active {
        position: relative;
        &::before {
          content: "";
          width: 14px;
          height: 14px;
          background: var(--primary, linear-gradient(95deg, #68C9FF 9.27%, #D1B5FF 84.06%));
          position: absolute;
          border-radius: 5px;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }
}

