@import 'style';
@import './authorization/background.scss';
@import './config/vars.scss';
@import './config/media-breakpoints';

.authorization {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 186px 0 196px;
    max-width: 410px;

    &_log {
        padding-top: 144px;
    }

    &__svg {
        width: 172px;
        height: 46px;
    }

    &__title {
        margin-bottom: 13px;
        font-family: 'ProximaNova';
        font-weight: 700;
        font-size: 36px;
        line-height: 137%;
        text-align: center;
        color: $whiteTwo;

        @include media-breakpoint-down(xs) {
            font-size: 26px;
        }
    }

    &__tabs {
        display: flex;
        margin-bottom: 23px;
        border-radius: 12px;
        padding: 7px 8px;
        background: $backgroundSecond;

        @include media-breakpoint-down(xs) {
            width: 345px;
        }
    }

    .tabs {
        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border-radius: 12px;
            padding: 14px 19px;
            width: 129px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $whiteColor;
            background: none;
            transition: background 1000ms linear, color 300ms linear;

            &_active {
                font-weight: 400;
                font-size: 18px;
                color: $background;
                background: $rainbowBtnGradient;
            }

            @include media-breakpoint-down(xs) {
                width: 164px;
                font-size: 14px;
            }
        }
    }

    .form {
        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 17px;
            gap: 6px;
        }

        &__item-label {
            font-family: 'ProximaNova';
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $gray6Color;
        }

        &__item-input {
            border-radius: 9px;
            padding: 21px 32px 22px;
            width: 410px;
            font-size: 16px;
            color: $whiteColor;
            background: $backgroundSecond;

            &::placeholder {
                font-family: 'ProximaNova';
                font-weight: 400;
                font-size: 16px;
                line-height: 131%;
                color: $gray6Color;
                opacity: 0.6;
            }

            @include media-breakpoint-down(xs) {
                width: 345px;
            }
        }

        &__button {
            margin-top: 5px;
            margin-bottom: 15px;
            border-radius: 16px;
            padding: 18px 0 19px;
            width: 410px;
            font-weight: 700;
            font-size: 18px;
            line-height: 147%;
            color: $background;
            background: $rainbowBtnGradient;

            @include media-breakpoint-down(xs) {
                width: 345px;
            }
        }
    }

    &__accaunt {
        display: none;

        &_visible {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: $gray6Color;
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-decoration: underline;
        color: $blueAuthColor;
    }

    .roles {
        max-height: 0;
        opacity: 0;
        transition: max-height 300ms linear, opacity 200ms linear;

        &__inner {
            width: 410px;
        }

        &_visible {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 29px;
            opacity: 1;
        }

        &__text {
            margin-bottom: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            text-align: left;
            color: $gray6Color;
        }

        &__box {
            display: flex;
            justify-content: space-between;
            color: $whiteColor;
            gap: 7px;
        }

        &__check {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__check-label {
            border: 1px solid #525960;
            border-radius: 38px;
            width: 22px;
            height: 22px;
            background: $backgroundSecond;
            transition: opacity 300ms linear;
            cursor: pointer;

            &::before {
                opacity: 0;
            }

            &_active {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    border-radius: 5px;
                    width: 14px;
                    height: 14px;
                    background: var(--primary, linear-gradient(95deg, #68c9ff 9.27%, #d1b5ff 84.06%));
                    opacity: 1;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &__check-text {
            font-family: 'ProximaNova';
            font-weight: 600;
            font-size: 14px;
            line-height: 171%;
        }

        @include media-breakpoint-down(xs) {
            margin: 0 auto 29px;
            width: 345px;
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 20px 0 196px;
    }
}
