@import 'style';
@import 'client/header';
@import 'client/chat';
@import 'client/tabs';
@import 'client/orders';

// .preloader {
//     display: none;
// }

.page {
    margin-top: 64px;
    &__container {
        max-width: 1259px;
    }
}

.wrapper {
    height: 100vh;
}
