@import 'style';
@import 'custom/background';
@import 'custom/are-you-ready';
@import 'custom/custom-mesh';

.page {
    background: $background;
    position: relative;

    &__container {
        position: relative;
        z-index: 2;
        margin-top: 85px;
    }
}
