@import 'style';
@import 'custom/background';
@import 'custom/are-you-ready';
@import 'custom/custom-mesh';
@import 'custom/custom-form';

.page {
    position: relative;
    background: $background;

    &__container {
        position: relative;
        margin-top: 85px;
        z-index: 2;

        @include media-breakpoint-down(md) {
            margin-top: 125px;
        }
    }
}
