@import 'style';


.page {
    background: $background;
    position: relative;

    &__container {
        position: relative;
        z-index: 2;
    }
}

@import 'custom/background';
@import 'custom/are-you-ready';
@import 'custom/custom-mesh';