@import 'style';
@import './config/vars.scss';
@import './config/media-breakpoints';
@import './for-owner/sidebar.scss';
@import './for-owner/content.scss';
@import './for-owner/card.scss';
@import './for-owner/messages.scss';
@import './for-owner/message.scss';
@import './for-owner/table.scss';
@import './for-owner/order.scss';

.for-owner {
    color: $whiteColor;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1260px;
    }

    &__page {
        padding-top: 64px;
        position: relative;
    }

    &__page-container {
        display: flex;
        max-width: 1310px;
    }

    .header {
        padding-top: 10px;
        &__link {
            display: flex;
            align-items: center;
            gap: 5px;
            color: $gray6Color;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &__svg {
            width: 24px;
            height: 24px;
        }

        &__menu {
            display: none;

            &_active .header__menu-span-middle {
                @include media-breakpoint-down(md) {
                    opacity: 0;
                }
            }

            &_active .header__menu-span-top {
                @include media-breakpoint-down(md) {
                    width: 20px;
                    margin-left: -1px;

                    transform: translateY(8px) translateX(10px) rotate(45deg);
                }
            }

            &_active .header__menu-span-bottom {
                @include media-breakpoint-down(md) {
                    width: 20px;
                    margin-left: 8px;

                    transform: translateY(-6px) translateX(1px) rotate(-45deg);
                }
            }

            @include media-breakpoint-down(md) {
                position: relative;
                display: flex;
                flex-direction: column;
                order: 2;
                border-radius: 9px;
                margin-right: 5px;
                cursor: pointer;
                gap: 5px;
                background: $background;

                &-span-top {
                    z-index: 13;
                    width: 6px;
                    height: 2px;
                    margin-left: 22px;
                    border-radius: 9px;
                    background: $benefitsStarBoxGradient;
                    transition: all 0.3s ease-in-out;
                }

                &-span-middle {
                    z-index: 13;
                    border-radius: 9px;
                    width: 16px;
                    height: 2px;
                    margin-left: 12px;
                    background: $benefitsStarBoxGradient;
                    transition: all 0.3s ease-in-out;
                }

                &-span-bottom {
                    z-index: 13;
                    width: 12px;
                    height: 2px;
                    margin-left: 16px;
                    border-radius: 9px;
                    background: $benefitsStarBoxGradient;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    &__sidebar {
        width: 245px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: -10px;
        transition: transform 0.3s ease-in-out;

        @include media-breakpoint-down(md) {
            position: fixed;
            top: 50px;
            left: 0;
            right: 0;
            width: 100%;
            transform: translateX(-100%);
            z-index: 14;
            margin: 0 auto;
        }

        &_active {
            transform: translateX(0);
            padding: 20px 20px 20px;

            .sidebar__content-link {
                border-bottom: 1px solid $borderGrayColor;
                width: 100%;
                padding-bottom: 15px;

                @include media-breakpoint-down(xs) {
                    width: 345px;
                    padding-top: 15px;
                }
            }

            .sidebar__footer-text {
                display: none;
            }
        }
    }

    &__sidebar_active {
        .sidebar__footer {
            left: 0;
        }
        .sidebar__footer-link {
            border-bottom: none;
        }
    }

    &__content-box {
        width: 100%;
    }
}
