@import 'style';
@import 'forum/asking';
@import 'forum/stat';

.page {
    position: relative;

    background: $background;

    &__container {
        position: relative;
        z-index: 2;

        margin-top: 85px;

        @include media-breakpoint-down(md) {
            margin-top: 125px;
        }
    }
}
