@import 'style';


.page {
    background: $background;
    position: relative;

    &__container {
        position: relative;
        z-index: 2;
    }
}

@import 'make-art/art-head';
@import 'make-art/background';
@import 'make-art/art-mesh';