@import 'style';
@import 'oneArt/background';
@import 'oneArt/bread-crumbs';
@import 'oneArt/one-art';
@import 'oneArt/procces';
@import 'main/contact';

.page {
    position: relative;

    &__container {
        position: relative;
        margin-top: 96px;
        z-index: 2;
    }
}
