@import 'style';
@import 'oneArt/bread-crumbs';
@import 'oneArt/one-art';
@import 'oneArt/procces';

.page {
    position: relative;

    &__container {
        position: relative;
        z-index: 2;
        margin-top: 96px;
    }
}

