@import 'style';
// @import 'components/header.scss';
@import './config/vars.scss';
// @import './config/media-breakpoints';
@import './school/backround.scss';

.register {
  color:$whiteTwo;
  padding-top: 88px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__inner-text {
    position: absolute;
    left: -30%;
    -webkit-text-stroke: 1px #fcffff;
    color: transparent;
    top: 0%;
    font-weight: 700;
    font-size: 80px;
    display: inline-block;
    opacity: 0.2;
  }

  &__info {
    width: 432px;
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 102%;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 40px;
    max-width: 271px;
  }

  &__button {
    width: 209px;
    background: $rainbowBtnGradient;
    font-weight: 700;
    font-size: 18px;
    line-height: 147%;
    color: $background;
    border-radius: 16px;
    padding: 18px 0 19px;
  }
}