@use 'sass:math';

@import 'config/_media-breakpoints';
@import 'config/fonts';
@import 'config/vars';
@import 'config/reset';
@import 'components/header';
@import 'components/footer';
@import 'components/btn';
@import 'components/preloader';
@import 'components/select';
@import 'components/itemsTabs';

body {
  font-family: ProximaNova;
}

[class*='__container'] {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: $maxWidthContainer;
  z-index: 2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.page {
  position: relative;
  flex: 1 1 auto;
  background: $background;
}

.just-validate-error-label {
  position: absolute;
  right: 50%;
  top: 10px;
  border-radius: 7px;
  padding: 8px;
  font-weight: bold;
  text-wrap: nowrap;
  transform: translateX(50%);
  z-index: 3;
  font-size: 14px;
  background: $rainbowBtnGradient;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 28px;
    clip-path: polygon(0 0, 53% 100%, 100% 0);
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
    z-index: 3;
    background: $rainbowBtnGradient;
  }
}
